# ***.htmlにアクセスすると、index.php?view=***を参照する
<IfModule mod_rewrite.c>
RewriteEngine on
#リライトルール
RewriteRule ([^/]*).html$ index.php?view=$1
</IfModule>

# htmlファイルでもPHPを使えるようにする
<FilesMatch "\.html$">
  AddType application/x-httpd-php .html
</FilesMatch>