@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Kiwi+Maru:500,400|Noto+Sans+JP:400,900");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/60ef998b2f4e9e568dc1408e.60ef998d7aed24baabe1b1d1.0cq2G3I.hcp.png");



.screen textarea:focus,
.screen input:focus {
  outline: none;
}

.screen * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.screen div {
  -webkit-text-size-adjust: none;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

* {
  box-sizing: border-box;
}

.text_label {
  background-color: transparent;
  height: auto;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  width: auto;
}