/* screen - include-all-breakpoints */

.include-all-breakpoints {
  background-color: var(--humming-bird);
  margin: 0px;
  min-height: 9083px;
  min-width: 1920px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.include-all-breakpoints .fixed-coverbg-bNo3ci {
  background-color: transparent;
  height: 1129px;
  left: calc(50.00% - 960px);
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.include-all-breakpoints .pc-wrap-bNo3ci {
  background-color: transparent;
  height: 9083px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1924px;
}

.include-all-breakpoints .section-id_mv_firstview-EmheAr {
  background-color: transparent;
  height: 601px;
  left: calc(50.00% - 962px);
  position: absolute;
  top: 0px;
  width: 1922px;
}

.include-all-breakpoints .area-8FWB99 {
  background-color: var(--white-2);
  height: 601px;
  left: calc(50.00% - 961px);
  opacity: 0.01;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.include-all-breakpoints .anim-fade-in-8FWB99 {
  background-color: transparent;
  height: 114px;
  left: calc(50.00% - 641px);
  position: absolute;
  top: 358px;
  width: 1284px;
}

.include-all-breakpoints .rectangle-24-cAyvNu {
  background-color: var(--white);
  border-radius: 70px;
  height: 114px;
  left: calc(50.00% - 642px);
  position: absolute;
  top: 0px;
  width: 1282px;
}

.include-all-breakpoints .figma-x-dinc-animaincludeinc-anima-cAyvNu {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 603px);
  letter-spacing: 0.00px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: 13px;
  width: 1213px;
}

.include-all-breakpoints .anim-text-enter-jack-8FWB99 {
  background-color: transparent;
  height: 191px;
  left: 560px;
  position: absolute;
  top: 145px;
  width: 801px;
}

.include-all-breakpoints .h1-JuFXLx {
  background-color: transparent;
  height: 191px;
  left: calc(50.00% - 400px);
  position: relative;
  top: 0px;
  width: 805px;
}

.include-all-breakpoints .lean-stroketxt5px-pYbyxL {
  -webkit-text-stroke: 5px var(--white);
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 262px);
  letter-spacing: 0.00px;
  line-height: 110px;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: -5px;
  white-space: nowrap;
  width: auto;
}

.include-all-breakpoints .span0-hoDCyQ {
}

.include-all-breakpoints .span1-hoDCyQ {
}

.include-all-breakpoints .text-stroketxt4px-pYbyxL {
  -webkit-text-stroke: 4px var(--white);
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 406px);
  letter-spacing: 0.00px;
  line-height: 73px;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 114px;
  white-space: nowrap;
  width: auto;
}

.include-all-breakpoints .anim-text-enter-down-stroketxt4px-8FWB99 {
  -webkit-text-stroke: 4px var(--white);
  background-color: transparent;
  color: var(--humming-bird);
  font-family: var(--font-family-kiwi_maru);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: calc(50.00% - 103px);
  letter-spacing: 0.00px;
  line-height: 73px;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 524px;
  white-space: nowrap;
  width: auto;
}

.include-all-breakpoints .section-id-include1-EmheAr {
  background-color: transparent;
  height: 1241px;
  left: calc(50.00% - 962px);
  position: absolute;
  top: 601px;
  width: 1920px;
}

.include-all-breakpoints .area-1hyhZj {
  background-color: var(--white-2);
  height: 1241px;
  left: calc(50.00% - 960px);
  opacity: 0.01;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.include-all-breakpoints .group-1hyhZj {
  height: 500px;
  top: 66px;
}

.include-all-breakpoints .bg-f616jb {
  border-radius: 73px;
  box-shadow: 0px 4px 4px #00000040;
  height: 500px;
  left: 0px;
  width: 700px;
}

.include-all-breakpoints .txt-f616jb {
  left: 147px;
  line-height: 44px;
  top: 35px;
  white-space: nowrap;
}

.include-all-breakpoints .inc-youtube-f616jb {
  background-color: transparent;
  height: 350px;
  left: 57px;
  position: absolute;
  top: 106px;
  width: 600px;
}

.include-all-breakpoints .area-X7RQ8n {
  background-color: var(--white);
  border: 10px solid;
  border-color: #ffb4b4;
  height: 350px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 600px;
}

.include-all-breakpoints .sample-X7RQ8n {
  height: 94px;
  left: 98px;
  top: 128px;
  width: 389px;
}

.include-all-breakpoints .svg-5X5Rx3 {
  height: 39px;
  left: 127px;
  width: 138px;
}

.include-all-breakpoints .txt-5X5Rx3 {
  left: 0px;
  line-height: 18px;
  top: 58px;
}

.include-all-breakpoints .group-AxyjS8 {
  height: 501px;
  top: 646px;
}

.include-all-breakpoints .bg-BoF0CY {
  border-radius: 73px;
  box-shadow: 0px 4px 4px #00000040;
  height: 501px;
  left: 0px;
  width: 700px;
}

.include-all-breakpoints .txt-BoF0CY {
  left: 111px;
  line-height: 44px;
  top: 36px;
  white-space: nowrap;
}

.include-all-breakpoints .rect-BoF0CY {
  background-color: #ea4335;
  height: 10px;
  left: 49px;
  position: absolute;
  top: 110px;
  width: 600px;
}

.include-all-breakpoints .rect-kJdygJ {
  background-color: #4285f4;
  height: 350px;
  position: absolute;
  right: 53px;
  top: 110px;
  width: 10px;
}

.include-all-breakpoints .rect-L8ZGyx {
  background-color: #34a853;
  bottom: 41px;
  height: 10px;
  position: absolute;
  right: 53px;
  transform: rotate(180deg);
  width: 600px;
}

.include-all-breakpoints .rect-Ji2HpB {
  background-color: #fbbc04;
  bottom: 41px;
  height: 340px;
  position: absolute;
  right: 643px;
  transform: rotate(180deg);
  width: 10px;
}

.include-all-breakpoints .inc-googlemap-BoF0CY {
  background-color: transparent;
  height: 330px;
  left: 59px;
  position: absolute;
  top: 120px;
  width: 580px;
}

.include-all-breakpoints .area-Kf11jj {
  background-color: var(--white);
  height: 330px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 580px;
}

.include-all-breakpoints .sample-Kf11jj {
  height: 101px;
  left: 74px;
  top: 104px;
  width: 423px;
}

.include-all-breakpoints .txt-zHrIzw {
  left: 0px;
  line-height: 18px;
  top: 65px;
}

.include-all-breakpoints .svg-zHrIzw {
  height: 52.80%;
  left: 46.78%;
  width: 8.78%;
}

.include-all-breakpoints .section-id-include2-hauto-EmheAr {
  background-color: transparent;
  height: 324px;
  left: 611px;
  position: absolute;
  top: 1842px;
  width: 700px;
}

.include-all-breakpoints .bg-bZ4WqS {
  border-radius: 73px;
  box-shadow: 0px 4px 4px #00000040;
  height: 324px;
  left: 0px;
  width: 700px;
}

.include-all-breakpoints .area-w54hAY {
  background-color: var(--alto);
  height: 125px;
  left: 0px;
  opacity: 0.01;
  position: absolute;
  top: 0px;
  width: 700px;
}

.include-all-breakpoints .txt-w54hAY {
  left: 101px;
  line-height: 44px;
  top: 22px;
  white-space: nowrap;
}

.include-all-breakpoints .txt-GMKSht {
  left: 102px;
  line-height: 18px;
  top: 78px;
}

.include-all-breakpoints .hauto-inc-googleform-y4b6MJ {
  background-color: transparent;
  height: 174px;
  left: 51px;
  position: absolute;
  top: 125px;
  width: 600px;
}

.include-all-breakpoints .area-bcWMVt {
  background-color: var(--white);
  border: 10px solid;
  border-color: #b790ff;
  height: 174px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 600px;
}

.include-all-breakpoints .sample-bcWMVt {
  height: 107px;
  left: 69px;
  top: 34px;
  width: 432px;
}

.include-all-breakpoints .txt-zvc2p9 {
  left: 0px;
  line-height: 18px;
  top: 71px;
}

.include-all-breakpoints .svg-zvc2p9 {
  height: 65px;
  left: 205px;
  width: 47px;
}

.include-all-breakpoints .area-ewjLzA {
  background-color: var(--alto);
  height: 25px;
  left: 0px;
  opacity: 0.01;
  position: relative;
  top: 0px;
  width: 700px;
}

.include-all-breakpoints .relative-spacer-EmheAr {
  left: calc(50.00% - 962px);
  top: 2166px;
}

.include-all-breakpoints .area-fzI73W {
  background-color: var(--white-2);
  height: 94px;
  left: calc(50.00% - 960px);
  opacity: 0.01;
  position: relative;
  top: 0px;
  width: 1920px;
}

.include-all-breakpoints .section-id-include3-hauto-EmheAr {
  background-color: transparent;
  height: 324px;
  left: 611px;
  position: absolute;
  top: 2260px;
  width: 700px;
}

.include-all-breakpoints .bg-xg8jWQ {
  border-radius: 73px;
  box-shadow: 0px 4px 4px #00000040;
  height: 324px;
  left: 0px;
  width: 700px;
}

.include-all-breakpoints .area-rih022 {
  background-color: var(--alto);
  height: 125px;
  left: 0px;
  opacity: 0.01;
  position: absolute;
  top: 0px;
  width: 700px;
}

.include-all-breakpoints .txt-rih022 {
  left: 151px;
  line-height: 44px;
  top: 22px;
  white-space: nowrap;
}

.include-all-breakpoints .txt-u0mC7R {
  left: 102px;
  line-height: 18px;
  top: 78px;
}

.include-all-breakpoints .hauto-inc-instagram-381Oxe {
  background-color: transparent;
  height: 174px;
  left: 51px;
  position: absolute;
  top: 125px;
  width: 600px;
}

.include-all-breakpoints .area-cbnSil {
  background-color: var(--white);
  border: 10px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(224.74465548992157, 160.45202940702438, 255), rgb(255, 243.93820077180862, 144.3819773197174)) 1;
  height: 174px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 600px;
}

.include-all-breakpoints .sample-cbnSil {
  height: 98px;
  left: 78px;
  top: 43px;
  width: 414px;
}

.include-all-breakpoints .txt-Lx2m0i {
  left: 0px;
  line-height: 18px;
  top: 62px;
}

.include-all-breakpoints .svg-Lx2m0i {
  height: 55.09%;
  left: 46.62%;
  width: 13.04%;
}

.include-all-breakpoints .area-IJD3ye {
  background-color: var(--alto);
  height: 25px;
  left: 0px;
  opacity: 0.01;
  position: relative;
  top: 0px;
  width: 700px;
}

.include-all-breakpoints .relative-spacer-5U5O4a {
  left: calc(50.00% - 961px);
  top: 2584px;
}

.include-all-breakpoints .area-krWnyo {
  background-color: var(--white-2);
  height: 94px;
  left: calc(50.00% - 960px);
  opacity: 0.01;
  position: relative;
  top: 0px;
  width: 1920px;
}

.include-all-breakpoints .section-id_footer_-EmheAr {
  background-color: transparent;
  height: 120px;
  left: calc(50.00% - 958px);
  position: absolute;
  top: 8963px;
  width: 1924px;
}

.include-all-breakpoints .bg-7WqAJo {
  height: 120px;
  left: calc(50.00% - 962px);
  width: 1920px;
}

.include-all-breakpoints .anima-html-fixer-7WqAJo {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 545px);
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 40px;
  width: auto;
}

.include-all-breakpoints .leansystem-7WqAJo {
  background-color: transparent;
  height: auto;
  left: calc(50.00% + 448px);
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 48px;
  width: auto;
}

.include-all-breakpoints .fixed-header-bNo3ci {
  background-color: transparent;
  height: 120px;
  left: calc(50.00% - 720px);
  position: absolute;
  top: 0px;
  width: 1440px;
}

.include-all-breakpoints .header-wrap-E3w8ar {
  background-color: transparent;
  height: 120px;
  left: calc(50.00% - 720px);
  position: relative;
  top: 0px;
  width: 1440px;
}

.include-all-breakpoints .area-DypRe1 {
  background-color: var(--white-2);
  height: 120px;
  left: calc(50.00% - 720px);
  opacity: 0.01;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.include-all-breakpoints .align-left-DypRe1 {
  background-color: transparent;
  height: 70px;
  left: calc(50.00% - 673px);
  position: absolute;
  top: 25px;
  width: 112px;
}

.include-all-breakpoints .link-home-seo-leanlogo-SRWX4O {
  background-color: transparent;
  height: 70px;
  left: calc(50.00% - 56px);
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 112px;
}

.include-all-breakpoints .align-right-DypRe1 {
  background-color: transparent;
  height: 32px;
  left: 783px;
  position: absolute;
  top: 44px;
  width: 618px;
}

.include-all-breakpoints .links-RGskLf {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 618px;
}

.include-all-breakpoints .link-home-3ssBlR {
  background-color: transparent;
  height: 16px;
  left: calc(50.00% - 309px);
  position: absolute;
  top: 8px;
  width: 50px;
}

.include-all-breakpoints .text_label-cQOWEO {
  left: calc(50.00% - 25px);
}

.include-all-breakpoints .link-animation-3ssBlR {
  background-color: transparent;
  height: 16px;
  left: calc(50.00% - 207px);
  position: absolute;
  top: 8px;
  width: 146px;
}

.include-all-breakpoints .text_label-UyvxcK {
  left: calc(50.00% - 73px);
}

.include-all-breakpoints .link-include-3ssBlR {
  background-color: transparent;
  height: 16px;
  left: calc(50.00% - 9px);
  position: absolute;
  top: 8px;
  width: 98px;
}

.include-all-breakpoints .text_label-sQpmsh {
  left: calc(50.00% - 49px);
}

.include-all-breakpoints .link-contact-3ssBlR {
  background-color: transparent;
  height: 16px;
  left: calc(50.00% + 141px);
  position: absolute;
  top: 8px;
  width: 98px;
}

.include-all-breakpoints .text_label-kZxLNQ {
  left: calc(50.00% - 49px);
}

.include-all-breakpoints .link-git-3ssBlR {
  background-color: transparent;
  height: 32px;
  left: 586px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.include-all-breakpoints .fixed-pagetop-bNo3ci {
  background-color: transparent;
  height: 80px;
  left: calc(50.00% + 665px);
  position: absolute;
  top: 884px;
  width: 80px;
}

.include-all-breakpoints .ellipse-1-pkhM8h {
  background-color: var(--white);
  border-radius: 40px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.include-all-breakpoints .page-top-pkhM8h {
  background-color: transparent;
  height: 15.00%;
  left: 17.50%;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 56.25%;
  white-space: nowrap;
  width: 65.00%;
}

.include-all-breakpoints .polygon-1-pkhM8h {
  background-color: transparent;
  height: 33.75%;
  left: 30.51%;
  position: absolute;
  top: 18.75%;
  width: 38.97%;
}

.include-all-breakpoints .bg {
  background-color: var(--white);
  position: absolute;
  top: 0px;
}

.include-all-breakpoints .group {
  background-color: transparent;
  left: 611px;
  position: absolute;
  width: 702px;
}

.include-all-breakpoints .hauto-css-style1 {
  background-color: transparent;
  height: 324px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 700px;
}

.include-all-breakpoints .relative-bottom-group {
  background-color: transparent;
  height: 25px;
  left: 0px;
  position: absolute;
  top: 299px;
  width: 700px;
}

.include-all-breakpoints .relative-spacer {
  background-color: transparent;
  height: 94px;
  position: absolute;
  width: 1920px;
}

.include-all-breakpoints .relative-top-group {
  background-color: transparent;
  height: 125px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 704px;
}

.include-all-breakpoints .sample {
  background-color: transparent;
  position: absolute;
}

.include-all-breakpoints .svg {
  background-color: transparent;
  position: absolute;
  top: 0px;
}

.include-all-breakpoints .text_label {
  background-color: transparent;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.include-all-breakpoints .txt {
  background-color: transparent;
  height: auto;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  width: auto;
}
/* screen - include-sp */

.include-sp {
  background-color: var(--humming-bird);
  margin: 0px;
  min-height: 4090px;
  min-width: 744px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.include-sp .sp-wrap-6FGWyl {
  background-color: transparent;
  height: 4090px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 744px;
}

.include-sp .section-id_mv_firstview-rxCEcA {
  background-color: transparent;
  height: 662px;
  left: calc(50.00% - 372px);
  position: absolute;
  top: 0px;
  width: 746px;
}

.include-sp .area-I1isRB {
  height: 662px;
  left: calc(50.00% - 373px);
  top: 0px;
  width: 744px;
}

.include-sp .anim-fade-in-I1isRB {
  height: 132px;
  left: calc(50.00% - 293px);
  top: 368px;
  width: 588px;
}

.include-sp .rectangle-24-hBnyRh {
  border-radius: 70px;
  height: 132px;
  left: calc(50.00% - 294px);
  width: 586px;
}

.include-sp .figma-xd-anim-hBnyRh {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-kiwi_maru);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: calc(50.00% - 182px);
  letter-spacing: 0.00px;
  line-height: 31px;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 370px;
}

.include-sp .anim-bounce-in-up-I1isRB {
  height: 101px;
  left: 200px;
  top: 144px;
  width: 344px;
}

.include-sp .h1-seo-animation-pc-juPGgx {
  background-color: transparent;
  height: 101px;
  left: calc(50.00% - 174px);
  position: absolute;
  top: 0px;
  width: 346px;
}

.include-sp .anim-text-enter-left-stroketxt4px-I1isRB {
  -webkit-text-stroke: 2.84297513961792px var(--white);
  background-color: transparent;
  color: var(--humming-bird);
  font-family: var(--font-family-kiwi_maru);
  font-size: 31.3px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: calc(50.00% - 176px);
  letter-spacing: 0.00px;
  line-height: 51.9px;
  position: absolute;
  text-align: center;
  text-shadow: 0px 2.84297513961792px 2.84297513961792px #00000040;
  top: 607px;
  white-space: nowrap;
  width: auto;
}

.include-sp .section-id-animation-rxCEcA {
  background-color: transparent;
  height: 3197px;
  left: calc(50.00% - 372px);
  position: absolute;
  top: 662px;
  width: 744px;
}

.include-sp .area-4ix3na {
  height: 2151px;
  left: calc(50.00% - 372px);
  top: 0px;
  width: 744px;
}

.include-sp .anim-fade-in-4ix3na {
  height: 41px;
  left: calc(50.00% - 160px);
  top: 298px;
  width: 325px;
}

.include-sp .bg-B9fHjU {
  background-color: var(--white);
  border-radius: 33.69px;
  box-shadow: 0px 1.8459588289260864px 1.8459588289260864px #00000040;
  height: 41px;
  left: calc(50.00% - 163px);
  position: absolute;
  top: 0px;
  width: 323px;
}

.include-sp .txt-B9fHjU {
  left: calc(50.00% - 153px);
  line-height: 20.3px;
  text-align: center;
  top: 9px;
  width: 304px;
}

.include-sp .anim-fade-in-down-4ix3na {
  background-color: transparent;
  height: 41px;
  left: calc(50.00% - 160px);
  position: absolute;
  top: 400px;
  width: 325px;
}

.include-sp .bg-usCxWJ {
  background-color: var(--white);
  border-radius: 33.69px;
  box-shadow: 0px 1.8459588289260864px 1.8459588289260864px #00000040;
  height: 41px;
  left: calc(50.00% - 163px);
  position: absolute;
  top: 0px;
  width: 323px;
}

.include-sp .txt-usCxWJ {
  left: calc(50.00% - 153px);
  line-height: 20.3px;
  text-align: center;
  top: 9px;
  width: 304px;
}

.include-sp .anim-fade-in-left-4ix3na {
  background-color: transparent;
  height: 41px;
  left: calc(50.00% - 160px);
  position: absolute;
  top: 502px;
  width: 325px;
}

.include-sp .bg-H5uoed {
  background-color: var(--white);
  border-radius: 33.69px;
  box-shadow: 0px 1.8459588289260864px 1.8459588289260864px #00000040;
  height: 41px;
  left: calc(50.00% - 163px);
  position: absolute;
  top: 0px;
  width: 323px;
}

.include-sp .txt-H5uoed {
  left: calc(50.00% - 153px);
  line-height: 20.3px;
  text-align: center;
  top: 9px;
  width: 304px;
}

.include-sp .anim-fade-in-right-4ix3na {
  background-color: transparent;
  height: 41px;
  left: calc(50.00% - 160px);
  position: absolute;
  top: 604px;
  width: 325px;
}

.include-sp .bg-AJGhSj {
  background-color: var(--white);
  border-radius: 33.69px;
  box-shadow: 0px 1.8459588289260864px 1.8459588289260864px #00000040;
  height: 41px;
  left: calc(50.00% - 163px);
  position: absolute;
  top: 0px;
  width: 323px;
}

.include-sp .txt-AJGhSj {
  left: calc(50.00% - 153px);
  line-height: 20.3px;
  text-align: center;
  top: 9px;
  width: 304px;
}

.include-sp .anim-fade-in-up-4ix3na {
  background-color: transparent;
  height: 41px;
  left: calc(50.00% - 160px);
  position: absolute;
  top: 706px;
  width: 325px;
}

.include-sp .bg-cy8PXs {
  background-color: var(--white);
  border-radius: 33.69px;
  box-shadow: 0px 1.8459588289260864px 1.8459588289260864px #00000040;
  height: 41px;
  left: calc(50.00% - 163px);
  position: absolute;
  top: 0px;
  width: 323px;
}

.include-sp .txt-cy8PXs {
  left: calc(50.00% - 153px);
  line-height: 20.3px;
  text-align: center;
  top: 9px;
  width: 304px;
}

.include-sp .anim-fade-in-top-left-4ix3na {
  background-color: transparent;
  height: 41px;
  left: calc(50.00% - 160px);
  position: absolute;
  top: 808px;
  width: 325px;
}

.include-sp .bg-iospBk {
  background-color: var(--white);
  border-radius: 33.69px;
  box-shadow: 0px 1.8459588289260864px 1.8459588289260864px #00000040;
  height: 41px;
  left: calc(50.00% - 163px);
  position: absolute;
  top: 0px;
  width: 323px;
}

.include-sp .txt-iospBk {
  left: calc(50.00% - 153px);
  line-height: 20.3px;
  text-align: center;
  top: 9px;
  width: 304px;
}

.include-sp .anim-fade-in-top-right-4ix3na {
  background-color: transparent;
  height: 41px;
  left: calc(50.00% - 160px);
  position: absolute;
  top: 910px;
  width: 325px;
}

.include-sp .bg-ux13xS {
  background-color: var(--white);
  border-radius: 33.69px;
  box-shadow: 0px 1.8459588289260864px 1.8459588289260864px #00000040;
  height: 41px;
  left: calc(50.00% - 163px);
  position: absolute;
  top: 0px;
  width: 323px;
}

.include-sp .txt-ux13xS {
  left: calc(50.00% - 153px);
  line-height: 20.3px;
  text-align: center;
  top: 9px;
  width: 304px;
}

.include-sp .anim-fade-in-bottom-left-4ix3na {
  background-color: transparent;
  height: 41px;
  left: calc(50.00% - 160px);
  position: absolute;
  top: 1012px;
  width: 325px;
}

.include-sp .bg-9NYnMi {
  background-color: var(--white);
  border-radius: 33.69px;
  box-shadow: 0px 1.8459588289260864px 1.8459588289260864px #00000040;
  height: 41px;
  left: calc(50.00% - 163px);
  position: absolute;
  top: 0px;
  width: 323px;
}

.include-sp .txt-9NYnMi {
  left: calc(50.00% - 153px);
  line-height: 20.3px;
  text-align: center;
  top: 9px;
  width: 304px;
}

.include-sp .anim-fade-in-bottom-right-4ix3na {
  background-color: transparent;
  height: 41px;
  left: calc(50.00% - 160px);
  position: absolute;
  top: 1114px;
  width: 325px;
}

.include-sp .bg-bwxolS {
  background-color: var(--white);
  border-radius: 33.69px;
  box-shadow: 0px 1.8459588289260864px 1.8459588289260864px #00000040;
  height: 41px;
  left: calc(50.00% - 163px);
  position: absolute;
  top: 0px;
  width: 323px;
}

.include-sp .txt-bwxolS {
  left: calc(50.00% - 153px);
  line-height: 20.3px;
  text-align: center;
  top: 9px;
  width: 304px;
}

.include-sp .anim-bounce-in-4ix3na {
  background-color: transparent;
  height: 41px;
  left: calc(50.00% - 160px);
  position: absolute;
  top: 1216px;
  width: 325px;
}

.include-sp .bg-N27rov {
  background-color: var(--white);
  border-radius: 33.69px;
  box-shadow: 0px 1.8459588289260864px 1.8459588289260864px #00000040;
  height: 41px;
  left: calc(50.00% - 163px);
  position: absolute;
  top: 0px;
  width: 323px;
}

.include-sp .txt-N27rov {
  left: calc(50.00% - 153px);
  line-height: 20.3px;
  text-align: center;
  top: 9px;
  width: 304px;
}

.include-sp .anim-bounce-in-down-4ix3na {
  background-color: transparent;
  height: 41px;
  left: calc(50.00% - 160px);
  position: absolute;
  top: 1318px;
  width: 325px;
}

.include-sp .bg-sE30cF {
  background-color: var(--white);
  border-radius: 33.69px;
  box-shadow: 0px 1.8459588289260864px 1.8459588289260864px #00000040;
  height: 41px;
  left: calc(50.00% - 163px);
  position: absolute;
  top: 0px;
  width: 323px;
}

.include-sp .txt-sE30cF {
  left: calc(50.00% - 153px);
  line-height: 20.3px;
  text-align: center;
  top: 9px;
  width: 304px;
}

.include-sp .anim-bounce-in-left-4ix3na {
  background-color: transparent;
  height: 41px;
  left: calc(50.00% - 160px);
  position: absolute;
  top: 1420px;
  width: 325px;
}

.include-sp .bg-sJFF80 {
  background-color: var(--white);
  border-radius: 33.69px;
  box-shadow: 0px 1.8459588289260864px 1.8459588289260864px #00000040;
  height: 41px;
  left: calc(50.00% - 163px);
  position: absolute;
  top: 0px;
  width: 323px;
}

.include-sp .txt-sJFF80 {
  left: calc(50.00% - 153px);
  line-height: 20.3px;
  text-align: center;
  top: 9px;
  width: 304px;
}

.include-sp .anim-bounce-in-right-4ix3na {
  background-color: transparent;
  height: 41px;
  left: calc(50.00% - 160px);
  position: absolute;
  top: 1522px;
  width: 325px;
}

.include-sp .bg-MIHxfq {
  background-color: var(--white);
  border-radius: 33.69px;
  box-shadow: 0px 1.8459588289260864px 1.8459588289260864px #00000040;
  height: 41px;
  left: calc(50.00% - 163px);
  position: absolute;
  top: 0px;
  width: 323px;
}

.include-sp .txt-MIHxfq {
  left: calc(50.00% - 153px);
  line-height: 20.3px;
  text-align: center;
  top: 9px;
  width: 304px;
}

.include-sp .anim-bounce-in-up-4ix3na {
  height: 41px;
  left: calc(50.00% - 160px);
  top: 1624px;
  width: 325px;
}

.include-sp .bg-m9eL1D {
  background-color: var(--white);
  border-radius: 33.69px;
  box-shadow: 0px 1.8459588289260864px 1.8459588289260864px #00000040;
  height: 41px;
  left: calc(50.00% - 163px);
  position: absolute;
  top: 0px;
  width: 323px;
}

.include-sp .txt-m9eL1D {
  left: calc(50.00% - 153px);
  line-height: 20.3px;
  text-align: center;
  top: 9px;
  width: 304px;
}

.include-sp .anim-zoom-in-4ix3na {
  background-color: transparent;
  height: 41px;
  left: calc(50.00% - 160px);
  position: absolute;
  top: 1726px;
  width: 325px;
}

.include-sp .bg-DH4b8y {
  background-color: var(--white);
  border-radius: 33.69px;
  box-shadow: 0px 1.8459588289260864px 1.8459588289260864px #00000040;
  height: 41px;
  left: calc(50.00% - 163px);
  position: absolute;
  top: 0px;
  width: 323px;
}

.include-sp .txt-DH4b8y {
  left: calc(50.00% - 153px);
  line-height: 20.3px;
  text-align: center;
  top: 9px;
  width: 304px;
}

.include-sp .anim-jack-in-the-box-4ix3na {
  background-color: transparent;
  height: 41px;
  left: calc(50.00% - 160px);
  position: absolute;
  top: 1828px;
  width: 325px;
}

.include-sp .bg-OqERxM {
  background-color: var(--white);
  border-radius: 33.69px;
  box-shadow: 0px 1.8459588289260864px 1.8459588289260864px #00000040;
  height: 41px;
  left: calc(50.00% - 163px);
  position: absolute;
  top: 0px;
  width: 323px;
}

.include-sp .txt-OqERxM {
  left: calc(50.00% - 153px);
  line-height: 20.3px;
  text-align: center;
  top: 9px;
  width: 304px;
}

.include-sp .anim-blur-in-4ix3na {
  background-color: transparent;
  height: 41px;
  left: calc(50.00% - 160px);
  position: absolute;
  top: 1930px;
  width: 325px;
}

.include-sp .bg-HfqH1h {
  background-color: var(--white);
  border-radius: 33.69px;
  box-shadow: 0px 1.8459588289260864px 1.8459588289260864px #00000040;
  height: 41px;
  left: calc(50.00% - 163px);
  position: absolute;
  top: 0px;
  width: 323px;
}

.include-sp .txt-HfqH1h {
  left: calc(50.00% - 153px);
  line-height: 20.3px;
  text-align: center;
  top: 9px;
  width: 304px;
}

.include-sp .anim-wipe-in-4ix3na {
  background-color: transparent;
  height: 52px;
  left: 207px;
  position: absolute;
  top: 2145px;
  width: 339px;
}

.include-sp .area-bt5dKS {
  height: 52px;
  left: 0px;
  top: 0px;
  width: 333px;
}

.include-sp .bg-bt5dKS {
  background-color: var(--white);
  border-radius: 33.69px;
  box-shadow: 0px 1.8459588289260864px 1.8459588289260864px #00000040;
  height: 41px;
  left: 5px;
  position: absolute;
  top: 6px;
  width: 323px;
}

.include-sp .txt-bt5dKS {
  left: 56px;
  line-height: 20.3px;
  text-align: center;
  top: 14px;
  width: auto;
}

.include-sp .txt-jOZHnF {
  left: 190px;
  line-height: 4.6px;
  text-align: left;
  top: 29px;
  width: auto;
}

.include-sp .txt-GxjHh2 {
  left: 190px;
  line-height: 4.6px;
  text-align: left;
  top: 22px;
  width: auto;
}

.include-sp .anim-wipe-in-right-4ix3na {
  background-color: transparent;
  height: 52px;
  left: 207px;
  position: absolute;
  top: 2258px;
  width: 337px;
}

.include-sp .area-cAxg7d {
  height: 52px;
  left: 0px;
  top: 0px;
  width: 333px;
}

.include-sp .bg-cAxg7d {
  background-color: var(--white);
  border-radius: 33.69px;
  box-shadow: 0px 1.8459588289260864px 1.8459588289260864px #00000040;
  height: 41px;
  left: 5px;
  position: absolute;
  top: 6px;
  width: 323px;
}

.include-sp .txt-cAxg7d {
  left: 46px;
  line-height: 20.3px;
  text-align: center;
  top: 15px;
  width: auto;
}

.include-sp .txt-Rudfnx {
  left: 237px;
  line-height: 5.8px;
  text-align: left;
  top: 29px;
  width: auto;
}

.include-sp .anim-wipe-in-left-4ix3na {
  background-color: transparent;
  height: 52px;
  position: absolute;
  right: 198px;
  top: 2371px;
  width: 339px;
}

.include-sp .area-w0D4hQ {
  height: 52px;
  right: 6px;
  top: 0px;
  width: 333px;
}

.include-sp .bg-w0D4hQ {
  background-color: var(--white);
  border-radius: 33.69px;
  box-shadow: 0px 1.8459588289260864px 1.8459588289260864px #00000040;
  height: 41px;
  position: absolute;
  right: 11px;
  top: 6px;
  width: 323px;
}

.include-sp .txt-w0D4hQ {
  line-height: 20.3px;
  right: 132px;
  text-align: center;
  top: 15px;
  width: auto;
}

.include-sp .txt-V8BeQn {
  line-height: 4.6px;
  right: 75px;
  text-align: left;
  top: 30px;
  width: auto;
}

.include-sp .txt-0P5eQQ {
  line-height: 4.6px;
  right: 42px;
  text-align: left;
  top: 23px;
  width: auto;
}

.include-sp .anim-wipe-in-up-4ix3na {
  background-color: transparent;
  bottom: 1114px;
  height: 52px;
  left: calc(50.00% - 165px);
  position: absolute;
  width: 339px;
}

.include-sp .area-hX13nA {
  bottom: 0px;
  height: 52px;
  left: calc(50.00% - 170px);
  width: 333px;
}

.include-sp .bg-hX13nA {
  background-color: var(--white);
  border-radius: 33.69px;
  bottom: 6px;
  box-shadow: 0px 1.8459588289260864px 1.8459588289260864px #00000040;
  height: 41px;
  left: calc(50.00% - 165px);
  position: absolute;
  width: 323px;
}

.include-sp .txt-hX13nA {
  bottom: 16px;
  left: calc(50.00% - 129px);
  line-height: 20.3px;
  text-align: center;
  width: auto;
}

.include-sp .txt-OggRsM {
  bottom: 17px;
  left: calc(50.00% + 34px);
  line-height: 4.6px;
  text-align: left;
  width: auto;
}

.include-sp .txt-x4OgEU {
  bottom: 24px;
  left: calc(50.00% + 34px);
  line-height: 4.6px;
  text-align: left;
  width: auto;
}

.include-sp .anim-wipe-in-down-4ix3na {
  background-color: transparent;
  height: 52px;
  left: calc(50.00% - 165px);
  position: absolute;
  top: 2597px;
  width: 339px;
}

.include-sp .area-x9JaoD {
  height: 52px;
  left: calc(50.00% - 170px);
  top: 0px;
  width: 333px;
}

.include-sp .bg-x9JaoD {
  background-color: var(--white);
  border-radius: 33.69px;
  box-shadow: 0px 1.8459588289260864px 1.8459588289260864px #00000040;
  height: 41px;
  left: calc(50.00% - 165px);
  position: absolute;
  top: 6px;
  width: 323px;
}

.include-sp .txt-x9JaoD {
  left: calc(50.00% - 144px);
  line-height: 20.3px;
  text-align: center;
  top: 15px;
  width: auto;
}

.include-sp .txt-hbh8o8 {
  left: calc(50.00% + 49px);
  line-height: 4.6px;
  text-align: left;
  top: 30px;
  width: auto;
}

.include-sp .txt-FxkzE7 {
  left: calc(50.00% + 49px);
  line-height: 4.6px;
  text-align: left;
  top: 23px;
  width: auto;
}

.include-sp .anim-wipe-in-center-4ix3na {
  background-color: transparent;
  height: 52px;
  left: calc(50.00% - 165px);
  position: absolute;
  top: calc(50.00% + 885px);
  width: 339px;
}

.include-sp .area-QfrS7R {
  height: 52px;
  left: calc(50.00% - 170px);
  top: calc(50.00% - 26px);
  width: 333px;
}

.include-sp .bg-QfrS7R {
  background-color: var(--white);
  border-radius: 33.69px;
  box-shadow: 0px 1.8459588289260864px 1.8459588289260864px #00000040;
  height: 41px;
  left: calc(50.00% - 165px);
  position: absolute;
  top: calc(50.00% - 20px);
  width: 323px;
}

.include-sp .txt-QfrS7R {
  left: calc(50.00% - 151px);
  line-height: 20.3px;
  text-align: center;
  top: calc(50.00% - 11px);
  width: auto;
}

.include-sp .txt-AtvzSd {
  left: calc(50.00% + 56px);
  line-height: 4.6px;
  text-align: left;
  top: calc(50.00% + 4px);
  width: auto;
}

.include-sp .txt-DpkRk4 {
  left: calc(50.00% + 56px);
  line-height: 4.6px;
  text-align: left;
  top: calc(50.00% - 3px);
  width: auto;
}

.include-sp .anim-text-enter-left-4ix3na {
  background-color: transparent;
  height: 41px;
  left: 212px;
  position: absolute;
  top: 2710px;
  width: 325px;
}

.include-sp .bg-QqAEJL {
  background-color: var(--white);
  border-radius: 33.69px;
  box-shadow: 0px 1.8459588289260864px 1.8459588289260864px #00000040;
  height: 41px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 323px;
}

.include-sp .txt-QqAEJL {
  left: 9px;
  line-height: 20.3px;
  text-align: center;
  top: 9px;
  width: 304px;
}

.include-sp .anim-text-enter-right-4ix3na {
  background-color: transparent;
  height: 41px;
  left: 212px;
  position: absolute;
  top: 2812px;
  width: 325px;
}

.include-sp .bg-pmfxPs {
  background-color: var(--white);
  border-radius: 33.69px;
  box-shadow: 0px 1.8459588289260864px 1.8459588289260864px #00000040;
  height: 41px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 323px;
}

.include-sp .txt-pmfxPs {
  left: 9px;
  line-height: 20.3px;
  text-align: center;
  top: 9px;
  width: 304px;
}

.include-sp .anim-text-enter-up-4ix3na {
  background-color: transparent;
  height: 41px;
  left: 212px;
  position: absolute;
  top: 2914px;
  width: 325px;
}

.include-sp .bg-8ieAHc {
  background-color: var(--white);
  border-radius: 33.69px;
  box-shadow: 0px 1.8459588289260864px 1.8459588289260864px #00000040;
  height: 41px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 323px;
}

.include-sp .txt-8ieAHc {
  left: 9px;
  line-height: 20.3px;
  text-align: center;
  top: 9px;
  width: 304px;
}

.include-sp .anim-text-enter-down-4ix3na {
  height: 41px;
  left: 212px;
  top: 3016px;
  width: 325px;
}

.include-sp .bg-dn591R {
  background-color: var(--white);
  border-radius: 33.69px;
  box-shadow: 0px 1.8459588289260864px 1.8459588289260864px #00000040;
  height: 41px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 323px;
}

.include-sp .txt-dn591R {
  left: 9px;
  line-height: 20.3px;
  text-align: center;
  top: 9px;
  width: 304px;
}

.include-sp .anim-text-enter-down-QLiz9Q {
  height: 79px;
  left: calc(50.00% - 218px);
  top: 3118px;
  width: 440px;
}

.include-sp .rectangle-24-9EP7c7 {
  border-radius: 46.15px;
  height: 79px;
  left: calc(50.00% - 220px);
  width: 438px;
}

.include-sp .animatecss-css-9EP7c7 {
  background-color: transparent;
  color: transparent;
  font-family: var(--font-family-kiwi_maru);
  font-size: 11.1px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: calc(50.00% - 162px);
  letter-spacing: 0.00px;
  line-height: 22.2px;
  position: absolute;
  text-align: center;
  top: 18px;
  width: auto;
}

.include-sp .span0-D3hnw9 {
  font-style: normal;
}

.include-sp .span1-D3hnw9 {
  color: var(--azure-radiance);
  font-style: normal;
}

.include-sp .span2-D3hnw9 {
  font-style: normal;
}

.include-sp .link-animatecss-9EP7c7 {
  background-color: transparent;
  height: 23px;
  left: calc(50.00% - 128px);
  position: absolute;
  top: 18px;
  width: 72px;
}

.include-sp .animatecss-K1AR6h {
  background-color: transparent;
  color: var(--anakiwa);
  font-family: var(--font-family-kiwi_maru);
  font-size: 11.1px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: calc(50.00% - 36px);
  letter-spacing: 0.00px;
  line-height: 22.2px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.include-sp .section-id_footer_-rxCEcA {
  background-color: transparent;
  height: 120px;
  left: calc(50.00% - 372px);
  position: absolute;
  top: 3970px;
  width: 748px;
}

.include-sp .bg-Q5tpe3 {
  background-color: var(--white);
  height: 120px;
  left: calc(50.00% - 374px);
  position: absolute;
  top: 0px;
  width: 744px;
}

.include-sp .anima-html-fixer-Q5tpe3 {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 107px);
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 30px;
  width: auto;
}

.include-sp .leansystem-Q5tpe3 {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 58px);
  letter-spacing: 0.70px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 70px;
  width: auto;
}

.include-sp .fixed-header-6FGWyl {
  background-color: transparent;
  height: 60px;
  left: calc(50.00% - 372px);
  position: absolute;
  top: 0px;
  width: 744px;
}

.include-sp .area-FvYdA5 {
  height: 60px;
  left: calc(50.00% - 372px);
  top: 0px;
  width: 744px;
}

.include-sp .align-center-FvYdA5 {
  background-color: transparent;
  height: 45px;
  left: 330px;
  position: absolute;
  top: 10px;
  width: 83px;
}

.include-sp .link-home-575jE3 {
  height: 45px;
  left: calc(50.00% - 42px);
  position: relative;
  width: 83px;
}

.include-sp .logo-GOqeNC {
  background-color: transparent;
  height: 45px;
  left: calc(50.00% - 42px);
  position: absolute;
  top: 0px;
  width: 83px;
}

.include-sp .align-right-FvYdA5 {
  background-color: transparent;
  height: 13px;
  left: calc(50.00% + 328px);
  position: absolute;
  top: 24px;
  width: 20px;
}

.include-sp .fixed-spmenu-6FGWyl {
  background-color: transparent;
  height: 780px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 744px;
}

.include-sp .wrap-Kqg2ge {
  background-color: transparent;
  height: 780px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 744px;
}

.include-sp .menu-fzzr54 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.include-sp .bg-QyCKJ3 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.include-sp .content-center-QyCKJ3 {
  background-color: transparent;
  height: 175px;
  left: 316px;
  position: absolute;
  top: 315px;
  width: 112px;
}

.include-sp .animlinks-TYUPBl {
  background-color: transparent;
  height: 175px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 112px;
}

.include-sp .link-home-RCzOb9 {
  height: 16px;
  left: calc(50.00% - 24px);
  position: absolute;
  width: 50px;
}

.include-sp .text_label-U1poLa {
  left: calc(50.00% - 25px);
}

.include-sp .link-page-RCzOb9 {
  background-color: transparent;
  height: 16px;
  left: calc(50.00% - 56px);
  position: absolute;
  top: 39px;
  width: 114px;
}

.include-sp .text_label-u9jImA {
  left: calc(50.00% - 57px);
}

.include-sp .link-contact-RCzOb9 {
  background-color: transparent;
  height: 16px;
  left: calc(50.00% - 48px);
  position: absolute;
  top: 78px;
  width: 98px;
}

.include-sp .text_label-zj5jey {
  left: calc(50.00% - 49px);
}

.include-sp .link-git-RCzOb9 {
  background-color: transparent;
  height: 32px;
  left: calc(50.00% - 16px);
  position: absolute;
  top: 143px;
  width: 32px;
}

.include-sp .spmenu-close-btn-fzzr54 {
  background-color: transparent;
  height: 2.56%;
  left: 93.15%;
  position: absolute;
  top: 3.85%;
  width: 2.69%;
}

.include-sp .rectangle-24 {
  background-color: var(--white);
  position: absolute;
  top: 0px;
}

.include-sp .text_label {
  background-color: transparent;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.include-sp .txt {
  background-color: transparent;
  height: auto;
  letter-spacing: 0.00px;
  position: absolute;
  white-space: nowrap;
}
@media screen and (max-width: 1919px) {
  .screen.include-all-breakpoints { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.include-sp { 
    display: none;
   }
}