/* screen - index */

.index {
  background-color: var(--white);
  margin: 0px;
  min-height: 3409px;
  min-width: 1920px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.index .pc-wrap-IO3Fu5 {
  background-color: transparent;
  height: 3409px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.index .section-id_mv_firstview-6tYPLb {
  background-color: transparent;
  height: 800px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.index .mv-pc-bg-xxaqWL {
  background-color: transparent;
  height: 800px;
  left: calc(50.00% - 960px);
  position: absolute;
  top: 0px;
  width: 1920px;
}

.index .anim-bounce-in-xxaqWL {
  background-color: transparent;
  height: 260px;
  left: 781px;
  position: absolute;
  top: 96px;
  width: 364px;
}

.index .anim-bounce-in-up-01-xxaqWL {
  background-color: transparent;
  height: 190px;
  left: 516px;
  position: absolute;
  top: 371px;
  width: 888px;
}

.index .h1-seo-title-topcatch-tQiCQw {
  background-color: transparent;
  height: 190px;
  left: calc(50.00% - 445px);
  position: absolute;
  top: 0px;
  width: 889px;
}

.index .anim-bounce-in-up-02-xxaqWL {
  background-color: transparent;
  height: 97px;
  left: 638px;
  position: absolute;
  top: 586px;
  width: 652px;
}

.index .p-seo-subtitle-pc-mv-m89BOX {
  background-color: transparent;
  height: 98px;
  left: calc(50.00% - 326px);
  position: absolute;
  top: 0px;
  width: 653px;
}

.index .section-id_service_-6tYPLb {
  background-color: transparent;
  height: 540px;
  left: calc(50.00% - 960px);
  position: absolute;
  top: 800px;
  width: 1920px;
}

.index .service-pc-bg-bibnNL {
  background-color: var(--white);
  height: 540px;
  left: calc(50.00% - 960px);
  position: absolute;
  top: 0px;
  width: 1920px;
}

.index .anim-fade-in-01-bibnNL {
  background-color: transparent;
  height: 73px;
  left: 774px;
  position: absolute;
  top: 61px;
  width: 371px;
}

.index .h1-txt-QqokKj {
  background-color: transparent;
  height: 73px;
  left: calc(50.00% - 186px);
  position: relative;
  top: 0px;
  width: 373px;
}

.index .leancording-tffxOx {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 186px);
  line-height: 73px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.index .span0-77GSlN {
  letter-spacing: 0.00px;
}

.index .span1-77GSlN {
  letter-spacing: -4.76px;
}

.index .span2-77GSlN {
  letter-spacing: 0.00px;
}

.index .p-txt-bibnNL {
  background-color: transparent;
  height: 355px;
  left: 681px;
  position: absolute;
  top: 142px;
  width: 556px;
}

.index .anim-jack-in-the-box-order-FsVrng {
  background-color: transparent;
  height: 95px;
  left: 13px;
  position: absolute;
  top: 0px;
  width: 533px;
}

.index .order-1-MxGjxL {
  background-color: transparent;
  height: 93px;
  left: calc(50.00% - 266px);
  position: absolute;
  top: 0px;
  width: 95px;
}

.index .image-3-U2WGxm {
  background-color: transparent;
  height: 93px;
  left: calc(50.00% - 48px);
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 95px;
}

.index .order-2-MxGjxL {
  background-color: transparent;
  height: 93px;
  left: calc(50.00% - 152px);
  position: absolute;
  top: 0px;
  width: 95px;
}

.index .image-4-VyfXPg {
  background-color: transparent;
  height: 93px;
  left: calc(50.00% - 48px);
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 95px;
}

.index .order-3-MxGjxL {
  background-color: transparent;
  height: 93px;
  left: calc(50.00% - 38px);
  position: absolute;
  top: 0px;
  width: 76px;
}

.index .image-5-XgZpxy {
  background-color: transparent;
  height: 93px;
  left: calc(50.00% - 38px);
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 76px;
}

.index .order-4-MxGjxL {
  background-color: transparent;
  height: 93px;
  left: calc(50.00% + 56px);
  position: absolute;
  top: 0px;
  width: 95px;
}

.index .image-6-Bz1G5g {
  background-color: transparent;
  height: 93px;
  left: calc(50.00% - 48px);
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 95px;
}

.index .order-5-MxGjxL {
  background-color: transparent;
  height: 95px;
  left: calc(50.00% + 170px);
  position: absolute;
  top: 0px;
  width: 96px;
}

.index .image-8-jYK58D {
  background-color: transparent;
  height: 95px;
  left: calc(50.00% - 48px);
  position: absolute;
  top: 0px;
  width: 96px;
}

.index .anim-fade-in-02-FsVrng {
  background-color: transparent;
  height: 73px;
  left: calc(50.00% - 278px);
  position: absolute;
  top: 93px;
  width: 558px;
}

.index .aipsdpdfxd-figma-RN9adP {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 279px);
  letter-spacing: 0.00px;
  line-height: 73px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.index .anim-fade-in-down-FsVrng {
  background-color: transparent;
  height: 59px;
  left: calc(50.00% - 25px);
  position: absolute;
  top: 176px;
  width: 52px;
}

.index .anim-fade-in-03-FsVrng {
  background-color: transparent;
  height: 73px;
  left: calc(50.00% - 230px);
  position: absolute;
  top: 245px;
  width: 462px;
}

.index .web-SutloA {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 231px);
  letter-spacing: 0.00px;
  line-height: 73px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.index .anim-fade-in-04-FsVrng {
  background-color: transparent;
  height: 73px;
  left: calc(50.00% - 72px);
  position: absolute;
  top: 282px;
  width: 146px;
}

.index .text_label-TpagZY {
  left: calc(50.00% - 73px);
  line-height: 73px;
  top: 0px;
  white-space: nowrap;
}

.index .section-id_frow_-6tYPLb {
  background-color: transparent;
  height: 990px;
  left: 0px;
  position: absolute;
  top: 1335px;
  width: 1920px;
}

.index .frow-pc-bg-wHDLD0 {
  background-color: transparent;
  height: 990px;
  left: calc(50.00% - 960px);
  position: absolute;
  top: 0px;
  width: 1920px;
}

.index .anim-fade-in-up-wHDLD0 {
  left: 544px;
  top: 105px;
  width: 832px;
}

.index .h1-seo-frowtitle-pc-IXfMg8 {
  background-color: transparent;
  height: 76px;
  left: calc(50.00% - 416px);
  position: absolute;
  top: 0px;
  width: 832px;
}

.index .anim-flip-in-y-wHDLD0 {
  background-color: transparent;
  height: 293px;
  left: calc(50.00% - 484px);
  position: absolute;
  top: 224px;
  width: 969px;
}

.index .roundbg-frow-xILJ7P {
  background-color: #ffffffe6;
  border-radius: 146.5px;
  height: 293px;
  left: calc(50.00% - 484px);
  position: relative;
  top: 0px;
  width: 969px;
}

.index .anim-wipe-in-right-001-wHDLD0 {
  background-color: transparent;
  height: 241px;
  left: 622px;
  position: absolute;
  top: 250px;
  width: 676px;
}

.index .p-seo-flowspeed-pc-asXELf {
  background-color: transparent;
  height: 241px;
  left: calc(50.00% - 338px);
  position: absolute;
  top: 0px;
  width: 676px;
}

.index .anim-wipe-out-right-002-wHDLD0 {
  background-color: transparent;
  height: 210px;
  left: 527px;
  position: absolute;
  top: 263px;
  width: 865px;
}

.index .p-seo-flowold-pc-WvOlHl {
  background-color: transparent;
  height: 210px;
  left: calc(50.00% - 432px);
  position: absolute;
  top: 0px;
  width: 865px;
}

.index .anim-fade-in-wHDLD0 {
  height: 38px;
  left: 700px;
  top: 576px;
  width: 520px;
}

.index .h2-seo-lean-pc-NQzEhf {
  background-color: transparent;
  height: 38px;
  left: calc(50.00% - 260px);
  position: absolute;
  top: 0px;
  width: 520px;
}

.index .anim-fade-in-xFk80x {
  height: 227px;
  left: 510px;
  top: 636px;
  width: 901px;
}

.index .p-txt-4Zlrkf {
  background-color: transparent;
  height: 227px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 901px;
}

.index .desc-lean-pc-nkVnrj {
  background-color: transparent;
  height: 227px;
  left: calc(50.00% - 450px);
  position: absolute;
  top: 0px;
  width: 901px;
}

.index .section-id_design_-6tYPLb {
  background-color: transparent;
  height: 700px;
  left: calc(50.00% - 960px);
  position: absolute;
  top: 2325px;
  width: 1920px;
}

.index .design-pc-bg-gFw4XT {
  background-color: transparent;
  height: 700px;
  left: calc(50.00% - 960px);
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.index .anim-fade-in-up-gFw4XT {
  left: 718px;
  top: 92px;
  width: 484px;
}

.index .h1-seo-design-pc-1GT4UG {
  background-color: transparent;
  height: 89px;
  left: calc(50.00% - 242px);
  position: absolute;
  top: 0px;
  width: 484px;
}

.index .anim-flip-in-y-01-gFw4XT {
  background-color: transparent;
  height: 165px;
  left: 537px;
  position: absolute;
  top: 235px;
  width: 413px;
}

.index .p-txt-tBlcjb {
  background-color: transparent;
  height: 165px;
  left: calc(50.00% - 206px);
  position: relative;
  top: 0px;
  width: 419px;
}

.index .rectangle-4-3hoHeZ {
  background-color: var(--white);
  box-shadow: 0px 4px 4px #00000040;
  height: 165px;
  left: calc(50.00% - 210px);
  position: absolute;
  top: 0px;
  width: 413px;
}

.index .text_label-3hoHeZ {
  -webkit-text-stroke: 0.10000000149011612px var(--black);
  left: calc(50.00% - 101px);
  line-height: 40px;
  top: 17px;
  white-space: nowrap;
}

.index .pc-pc-3hoHeZ {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 146px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 62px;
  width: auto;
}

.index .x320px-3hoHeZ {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 110px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 127px;
  white-space: nowrap;
  width: auto;
}

.index .anim-flip-in-y-02-gFw4XT {
  background-color: transparent;
  height: 165px;
  left: calc(50.00% + 11px);
  position: absolute;
  top: 235px;
  width: 419px;
}

.index .rectangle-5-AHMk5P {
  background-color: var(--white);
  box-shadow: 0px 4px 4px #00000040;
  height: 165px;
  left: calc(50.00% - 210px);
  position: absolute;
  top: 0px;
  width: 413px;
}

.index .link-animlist-AHMk5P {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 100px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 122px;
  white-space: nowrap;
  width: auto;
}

.index .text_label-AHMk5P {
  left: calc(50.00% - 164px);
  line-height: 20px;
  top: 73px;
}

.index .text_label-v7Zz7Q {
  -webkit-text-stroke: 0.10000000149011612px var(--black);
  left: calc(50.00% - 111px);
  line-height: 40px;
  top: 27px;
  white-space: nowrap;
}

.index .anim-flip-in-y-03-gFw4XT {
  background-color: transparent;
  height: 165px;
  left: calc(50.00% - 423px);
  position: absolute;
  top: 426px;
  width: 417px;
}

.index .rectangle-6-zPAQ0I {
  background-color: var(--white);
  box-shadow: 0px 4px 4px #00000040;
  height: 165px;
  left: calc(50.00% - 208px);
  position: absolute;
  top: 0px;
  width: 413px;
}

.index .text_label-zPAQ0I {
  left: calc(50.00% - 128px);
  line-height: 20px;
  top: 73px;
}

.index .text_label-mpxVrZ {
  -webkit-text-stroke: 0.10000000149011612px var(--black);
  left: calc(50.00% - 136px);
  line-height: 40px;
  top: 27px;
  white-space: nowrap;
}

.index .anim-flip-in-y-04-gFw4XT {
  background-color: transparent;
  height: 165px;
  left: 971px;
  position: absolute;
  top: 426px;
  width: 413px;
}

.index .p-txt-v3ZlhH {
  background-color: transparent;
  height: 165px;
  left: calc(50.00% - 206px);
  position: relative;
  top: 0px;
  width: 417px;
}

.index .rectangle-7-vgpHUE {
  background-color: var(--white);
  box-shadow: 0px 4px 4px #00000040;
  height: 165px;
  left: calc(50.00% - 208px);
  position: absolute;
  top: 0px;
  width: 413px;
}

.index .adobe-xd-figma-web-vgpHUE {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 164px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 67px;
  width: auto;
}

.index .text_label-vgpHUE {
  -webkit-text-stroke: 0.10000000149011612px var(--black);
  left: calc(50.00% - 110px);
  line-height: 40px;
  top: 27px;
  white-space: nowrap;
}

.index .section-id_form_-6tYPLb {
  background-color: transparent;
  height: 264px;
  left: 0px;
  position: absolute;
  top: 3025px;
  width: 1920px;
}

.index .footer-pc-bg-0gGhE8 {
  background-color: transparent;
  height: 264px;
  left: calc(50.00% - 960px);
  position: absolute;
  top: 0px;
  width: 1920px;
}

.index .anim-fade-in-up-02-z-index-1-0gGhE8 {
  background-color: transparent;
  height: 70px;
  left: 649px;
  position: absolute;
  top: 96px;
  width: 622px;
}

.index .h2-link-contact-jeRwEW {
  background-color: transparent;
  height: 70px;
  left: calc(50.00% - 311px);
  position: absolute;
  top: 0px;
  width: 622px;
}

.index .section-id_footer_-6tYPLb {
  background-color: transparent;
  height: 120px;
  left: calc(50.00% - 960px);
  position: absolute;
  top: 3289px;
  width: 1924px;
}

.index .bg-xa7NMx {
  background-color: var(--white);
  height: 120px;
  left: calc(50.00% - 962px);
  position: absolute;
  top: 0px;
  width: 1920px;
}

.index .leancoding-by-leansystem-xa7NMx {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 545px);
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 40px;
  width: 313px;
}

.index .span0-af4HQe {
}

.index .span1-af4HQe {
}

.index .copyright-leansystem-all-rights-reserved-xa7NMx {
  background-color: transparent;
  height: auto;
  left: calc(50.00% + 264px);
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 48px;
  width: auto;
}

.index .fixed-header-IO3Fu5 {
  background-color: transparent;
  height: 120px;
  left: calc(50.00% - 720px);
  position: absolute;
  top: 0px;
  width: 1440px;
}

.index .header-wrap-riBx5A {
  background-color: transparent;
  height: 120px;
  left: calc(50.00% - 720px);
  position: relative;
  top: 0px;
  width: 1440px;
}

.index .area-q1vLZB {
  background-color: #ffffff03;
  height: 120px;
  left: calc(50.00% - 720px);
  opacity: 0.01;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.index .align-left-q1vLZB {
  background-color: transparent;
  height: 70px;
  left: 47px;
  position: absolute;
  top: 25px;
  width: 112px;
}

.index .link-home-v2yu9O {
  background-color: transparent;
  height: 70px;
  left: calc(50.00% - 56px);
  position: relative;
  top: 0px;
  width: 112px;
}

.index .logo-kpifOx {
  background-color: transparent;
  height: 70px;
  left: calc(50.00% - 56px);
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 112px;
}

.index .align-right-q1vLZB {
  background-color: transparent;
  height: 32px;
  left: 974px;
  position: absolute;
  top: 44px;
  width: 427px;
}

.index .links-fK0mme {
  background-color: transparent;
  height: 32px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 427px;
}

.index .link-home-jGfOh0 {
  background-color: transparent;
  height: 16px;
  left: calc(50.00% - 214px);
  position: absolute;
  top: 8px;
  width: 50px;
}

.index .text_label-eDlX8A {
  left: calc(50.00% - 25px);
  line-height: 16px;
  top: 0px;
  white-space: nowrap;
}

.index .link-page-jGfOh0 {
  background-color: transparent;
  height: 16px;
  left: calc(50.00% - 117px);
  position: absolute;
  top: 8px;
  width: 114px;
}

.index .text_label-QjsxfG {
  left: calc(50.00% - 57px);
  line-height: 16px;
  top: 0px;
  white-space: nowrap;
}

.index .link-contact-jGfOh0 {
  background-color: transparent;
  height: 16px;
  left: calc(50.00% + 44px);
  position: absolute;
  top: 8px;
  width: 98px;
}

.index .text_label-TRnUfY {
  left: calc(50.00% - 49px);
  line-height: 16px;
  top: 0px;
  white-space: nowrap;
}

.index .link-git-jGfOh0 {
  background-color: transparent;
  height: 32px;
  left: 395px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.index .fixed-pagetop-IO3Fu5 {
  background-color: transparent;
  height: 80px;
  left: calc(50.00% + 830px);
  position: absolute;
  top: 673px;
  width: 80px;
}

.index .ellipse-1-oq7mw8 {
  background-color: var(--white);
  border-radius: 40px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.index .page-top-oq7mw8 {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-kiwi_maru);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: 15.00%;
  left: 17.50%;
  letter-spacing: 0.00px;
  line-height: 12px;
  position: absolute;
  text-align: center;
  top: 56.25%;
  white-space: nowrap;
  width: 65.00%;
}

.index .polygon-1-oq7mw8 {
  background-color: transparent;
  height: 33.75%;
  left: 30.51%;
  position: absolute;
  top: 18.75%;
  width: 38.97%;
}

.index .anim-fade-in {
  background-color: transparent;
  position: absolute;
}

.index .anim-fade-in-up {
  background-color: transparent;
  height: 73px;
  position: absolute;
}
/* screen - index-sp */

.index-sp {
  background-color: var(--white);
  margin: 0px;
  min-height: 4894px;
  min-width: 744px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.index-sp .sp-wrap-xls0kk {
  background-color: transparent;
  height: 4894px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 745px;
}

.index-sp .relative-id_mainvisual_firstview-e92lAv {
  background-color: transparent;
  height: 780px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 744px;
}

.index-sp .mv-sp-bg-CVQIak {
  background-color: transparent;
  height: 780px;
  left: calc(50.00% - 372px);
  position: absolute;
  top: 0px;
  width: 744px;
}

.index-sp .anim-bounce-in-CVQIak {
  background-color: transparent;
  height: 195px;
  left: 236px;
  position: absolute;
  top: 127px;
  width: 272px;
}

.index-sp .anim-bounce-in-up-01-CVQIak {
  background-color: transparent;
  height: 128px;
  left: 205px;
  position: absolute;
  top: 352px;
  width: 334px;
}

.index-sp .h1-seo-title-mvsp-IYbIrc {
  background-color: transparent;
  height: 128px;
  left: calc(50.00% - 168px);
  position: absolute;
  top: 0px;
  width: 335px;
}

.index-sp .anim-bounce-in-up-02-CVQIak {
  background-color: transparent;
  height: 132px;
  left: 234px;
  position: absolute;
  top: 514px;
  width: 275px;
}

.index-sp .p-seo-subtitle-mvsp-QF7EAF {
  background-color: transparent;
  height: 133px;
  left: calc(50.00% - 138px);
  position: absolute;
  top: 0px;
  width: 277px;
}

.index-sp .relative-id_service_-e92lAv {
  background-color: transparent;
  height: 832px;
  left: calc(50.00% - 372px);
  position: absolute;
  top: 780px;
  width: 744px;
}

.index-sp .service-sp-bg-poJhE4 {
  background-color: transparent;
  height: 832px;
  left: calc(50.00% - 372px);
  position: absolute;
  top: 0px;
  width: 743px;
}

.index-sp .anim-fade-in-01-poJhE4 {
  background-color: transparent;
  height: 53px;
  left: 210px;
  position: absolute;
  top: 88px;
  width: 351px;
}

.index-sp .h1-txt-hRxUxn {
  background-color: transparent;
  height: 53px;
  left: calc(50.00% - 176px);
  position: relative;
  top: 0px;
  width: 353px;
}

.index-sp .leancording-UHIsHZ {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 176px);
  line-height: 53px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.index-sp .span0-BxeHe3 {
  letter-spacing: 0.00px;
}

.index-sp .span1-BxeHe3 {
  letter-spacing: -2.56px;
}

.index-sp .span2-BxeHe3 {
  letter-spacing: 0.00px;
}

.index-sp .p-txt-poJhE4 {
  background-color: transparent;
  height: 544px;
  left: 220px;
  position: absolute;
  top: 180px;
  width: 304px;
}

.index-sp .anim-jack-in-the-box-order-TD23oe {
  background-color: transparent;
  height: 205px;
  left: calc(50.00% - 152px);
  position: absolute;
  top: 0px;
  width: 304px;
}

.index-sp .image-3-lueJWx {
  background-color: transparent;
  height: 93px;
  left: calc(50.00% - 105px);
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 95px;
}

.index-sp .image-8-lueJWx {
  background-color: transparent;
  height: 95px;
  left: calc(50.00% + 9px);
  position: absolute;
  top: 0px;
  width: 96px;
}

.index-sp .image-4-lueJWx {
  background-color: transparent;
  height: 93px;
  left: calc(50.00% - 152px);
  object-fit: cover;
  position: absolute;
  top: 112px;
  width: 95px;
}

.index-sp .image-5-lueJWx {
  background-color: transparent;
  height: 93px;
  left: calc(50.00% - 38px);
  object-fit: cover;
  position: absolute;
  top: 112px;
  width: 76px;
}

.index-sp .image-6-lueJWx {
  background-color: transparent;
  height: 93px;
  left: calc(50.00% + 57px);
  object-fit: cover;
  position: absolute;
  top: 112px;
  width: 95px;
}

.index-sp .anim-fade-in-02-TD23oe {
  background-color: transparent;
  height: 80px;
  left: calc(50.00% - 152px);
  position: absolute;
  top: 223px;
  width: 305px;
}

.index-sp .aipsdpdfxd-figma-TJ59Hi {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 152px);
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: auto;
}

.index-sp .span0-nx1xHk {
  letter-spacing: 0.00px;
  line-height: 39px;
}

.index-sp .span1-nx1xHk {
  letter-spacing: -5.04px;
  line-height: 39px;
}

.index-sp .span2-nx1xHk {
  letter-spacing: -4.32px;
  line-height: 39px;
}

.index-sp .span3-nx1xHk {
  letter-spacing: 0.00px;
  line-height: 39px;
}

.index-sp .span4-nx1xHk {
  letter-spacing: -3.84px;
  line-height: 39px;
}

.index-sp .span5-nx1xHk {
  letter-spacing: 0.00px;
  line-height: 39px;
}

.index-sp .span6-nx1xHk {
  letter-spacing: -5.04px;
  line-height: 39px;
}

.index-sp .span7-nx1xHk {
  letter-spacing: -4.80px;
  line-height: 39px;
}

.index-sp .span8-nx1xHk {
  letter-spacing: 0.00px;
  line-height: 39px;
}

.index-sp .span9-nx1xHk {
  letter-spacing: -5.28px;
  line-height: 39px;
}

.index-sp .span10-nx1xHk {
  letter-spacing: 0.00px;
  line-height: 39px;
}

.index-sp .span11-nx1xHk {
  letter-spacing: 0.00px;
  line-height: 40px;
}

.index-sp .anim-fade-in-down-TD23oe {
  background-color: transparent;
  height: 59px;
  left: calc(50.00% - 26px);
  position: absolute;
  top: 322px;
  width: 52px;
}

.index-sp .anim-fade-in-03-TD23oe {
  background-color: transparent;
  height: 80px;
  left: calc(50.00% - 121px);
  position: absolute;
  top: 398px;
  width: 242px;
}

.index-sp .web-G3MCbn {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 121px);
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: auto;
}

.index-sp .anim-fade-in-04-TD23oe {
  background-color: transparent;
  height: 73px;
  left: calc(50.00% - 73px);
  position: absolute;
  top: 471px;
  width: 146px;
}

.index-sp .text_label-prylCM {
  left: calc(50.00% - 73px);
  line-height: 73px;
  top: 0px;
  white-space: nowrap;
}

.index-sp .relative-id_frow_-e92lAv {
  background-color: transparent;
  height: 1977px;
  left: 0px;
  position: absolute;
  top: 1615px;
  width: 744px;
}

.index-sp .frow-sp-bg-1S3isx {
  background-color: transparent;
  height: 1977px;
  left: calc(50.00% - 372px);
  position: absolute;
  top: 0px;
  width: 744px;
}

.index-sp .anim-fade-in-up-1S3isx {
  height: 100px;
  left: 236px;
  top: 102px;
  width: 272px;
}

.index-sp .h1-seo-flowtitle-sp-sIovYs {
  background-color: transparent;
  height: 100px;
  left: calc(50.00% - 138px);
  position: absolute;
  top: 0px;
  width: 274px;
}

.index-sp .anim-flip-in-x-1S3isx {
  background-color: transparent;
  height: 940px;
  left: calc(50.00% - 136px);
  position: absolute;
  top: 232px;
  width: 277px;
}

.index-sp .roundbg-frow-sOCS8T {
  background-color: #ffffffe6;
  border-radius: 146.5px;
  height: 940px;
  left: calc(50.00% - 138px);
  position: relative;
  top: 0px;
  width: 277px;
}

.index-sp .anim-wipe-in-down-1S3isx {
  background-color: transparent;
  height: 806px;
  left: 282px;
  position: absolute;
  top: 305px;
  width: 198px;
}

.index-sp .p-seo-flowspeed-sp-bikCvw {
  background-color: transparent;
  height: 806px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 198px;
}

.index-sp .anim-fade-in-up-dQAB2x {
  height: 114px;
  left: 268px;
  top: 1228px;
  width: 208px;
}

.index-sp .h2-seo-lean-sp-kNsBm7 {
  background-color: transparent;
  height: 114px;
  left: calc(50.00% - 104px);
  position: absolute;
  top: 0px;
  width: 208px;
}

.index-sp .anim-fade-in-up-XJocl3 {
  height: 613px;
  left: 216px;
  top: 1364px;
  width: 321px;
}

.index-sp .p-txt-0008-RuMPq0 {
  background-color: transparent;
  height: 613px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 321px;
}

.index-sp .desc-lean-sp-lt1Cvd {
  background-color: transparent;
  height: 613px;
  left: calc(50.00% - 160px);
  position: absolute;
  top: 0px;
  width: 321px;
}

.index-sp .relative-id_design_-e92lAv {
  background-color: transparent;
  height: 919px;
  left: 0px;
  position: absolute;
  top: 3592px;
  width: 744px;
}

.index-sp .design-sp-bg-IAtsJ8 {
  background-color: transparent;
  height: 919px;
  left: calc(50.00% - 372px);
  position: absolute;
  top: 0px;
  width: 744px;
}

.index-sp .anim-fade-in-up-IAtsJ8 {
  height: 64px;
  left: 247px;
  top: 51px;
  width: 257px;
}

.index-sp .h1-seo-design-sp-Tjqqdx {
  background-color: transparent;
  height: 64px;
  left: calc(50.00% - 131px);
  position: absolute;
  top: 0px;
  width: 259px;
}

.index-sp .anim-flip-in-y-01-IAtsJ8 {
  background-color: transparent;
  height: 165px;
  left: 165px;
  position: absolute;
  top: 144px;
  width: 413px;
}

.index-sp .p-txt-sN2ItE {
  background-color: transparent;
  height: 165px;
  left: calc(50.00% - 206px);
  position: relative;
  top: 0px;
  width: 419px;
}

.index-sp .rectangle-4-PgWB8s {
  background-color: var(--white);
  box-shadow: 0px 4px 4px #00000040;
  height: 165px;
  left: calc(50.00% - 210px);
  position: absolute;
  top: 0px;
  width: 413px;
}

.index-sp .text_label-PgWB8s {
  -webkit-text-stroke: 0.10000000149011612px var(--black);
  left: calc(50.00% - 113px);
  line-height: 40px;
  top: 18px;
  white-space: nowrap;
}

.index-sp .pc-pc-PgWB8s {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 158px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 61px;
  width: auto;
}

.index-sp .x320px-PgWB8s {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 122px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 127px;
  white-space: nowrap;
  width: auto;
}

.index-sp .anim-flip-in-y-02-IAtsJ8 {
  background-color: transparent;
  height: 165px;
  left: 165px;
  position: absolute;
  top: 323px;
  width: 413px;
}

.index-sp .p-txt-O8TZo8 {
  background-color: transparent;
  height: 165px;
  left: calc(50.00% - 206px);
  position: relative;
  top: 0px;
  width: 419px;
}

.index-sp .rectangle-5-rIxofl {
  background-color: var(--white);
  box-shadow: 0px 4px 4px #00000040;
  height: 165px;
  left: calc(50.00% - 210px);
  position: absolute;
  top: 0px;
  width: 413px;
}

.index-sp .link-0004-rIxofl {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 100px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 118px;
  white-space: nowrap;
  width: auto;
}

.index-sp .text_label-rIxofl {
  left: calc(50.00% - 168px);
  line-height: 20px;
  top: 69px;
}

.index-sp .text_label-fE3OOH {
  -webkit-text-stroke: 0.10000000149011612px var(--black);
  left: calc(50.00% - 114px);
  line-height: 40px;
  top: 23px;
  white-space: nowrap;
}

.index-sp .anim-flip-in-y-03-IAtsJ8 {
  background-color: transparent;
  height: 165px;
  left: 165px;
  position: absolute;
  top: 502px;
  width: 413px;
}

.index-sp .p-txt-6I7Uef {
  background-color: transparent;
  height: 165px;
  left: calc(50.00% - 206px);
  position: relative;
  top: 0px;
  width: 417px;
}

.index-sp .rectangle-6-qLb60Z {
  background-color: var(--white);
  box-shadow: 0px 4px 4px #00000040;
  height: 165px;
  left: calc(50.00% - 208px);
  position: absolute;
  top: 0px;
  width: 413px;
}

.index-sp .text_label-qLb60Z {
  left: calc(50.00% - 130px);
  line-height: 20px;
  top: 76px;
}

.index-sp .text_label-HOZxny {
  -webkit-text-stroke: 0.10000000149011612px var(--black);
  left: calc(50.00% - 137px);
  line-height: 40px;
  top: 30px;
  white-space: nowrap;
}

.index-sp .anim-flip-in-y-04-IAtsJ8 {
  background-color: transparent;
  height: 165px;
  left: 165px;
  position: absolute;
  top: 681px;
  width: 413px;
}

.index-sp .p-txt-h6jodi {
  background-color: transparent;
  height: 165px;
  left: calc(50.00% - 206px);
  position: relative;
  top: 0px;
  width: 417px;
}

.index-sp .rectangle-7-q8cJCI {
  background-color: var(--white);
  box-shadow: 0px 4px 4px #00000040;
  height: 165px;
  left: calc(50.00% - 208px);
  position: absolute;
  top: 0px;
  width: 413px;
}

.index-sp .adobe-xd-figma-web-q8cJCI {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 164px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 73px;
  width: auto;
}

.index-sp .text_label-q8cJCI {
  -webkit-text-stroke: 0.10000000149011612px var(--black);
  left: calc(50.00% - 114px);
  line-height: 40px;
  top: 33px;
  white-space: nowrap;
}

.index-sp .relative-id_form_-e92lAv {
  background-color: transparent;
  height: 263px;
  left: 0px;
  position: absolute;
  top: 4511px;
  width: 744px;
}

.index-sp .footer-sp-bg-Paxkqx {
  background-color: transparent;
  height: 263px;
  left: calc(50.00% - 372px);
  position: absolute;
  top: 0px;
  width: 744px;
}

.index-sp .anim-fade-in-up-02-z-index1-Paxkqx {
  background-color: transparent;
  height: 114px;
  left: 142px;
  position: absolute;
  top: 75px;
  width: 460px;
}

.index-sp .h2-link-contact-PThq5L {
  background-color: transparent;
  height: 114px;
  left: calc(50.00% - 230px);
  position: absolute;
  top: 0px;
  width: 460px;
}

.index-sp .relative-id_footer_-e92lAv {
  background-color: transparent;
  height: 120px;
  left: calc(50.00% - 372px);
  position: absolute;
  top: 4774px;
  width: 748px;
}

.index-sp .bg-xXZCnG {
  background-color: var(--white);
  height: 120px;
  left: calc(50.00% - 374px);
  width: 744px;
}

.index-sp .leancoding-by-leansystem-xXZCnG {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 147px);
  letter-spacing: 1.20px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 30px;
  width: auto;
}

.index-sp .span0-XXgtqE {
}

.index-sp .span1-XXgtqE {
  letter-spacing: 0.70px;
}

.index-sp .copyright-leansystem-all-rights-reserved-xXZCnG {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 161px);
  letter-spacing: 0.70px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 70px;
  width: auto;
}

.index-sp .fixed-spmenu-xls0kk {
  background-color: transparent;
  height: 780px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 744px;
}

.index-sp .spmenu-close-btn-mknEkq {
  background-color: transparent;
  height: 20px;
  left: calc(50.00% + 321px);
  position: absolute;
  top: 30px;
  width: 20px;
}

.index-sp .menu-wrap-mknEkq {
  background-color: transparent;
  height: 780px;
  left: calc(50.00% - 372px);
  position: absolute;
  top: 0px;
  width: 744px;
}

.index-sp .bg-fnouXa {
  background-color: transparent;
  height: 780px;
  left: calc(50.00% - 372px);
  width: 743px;
}

.index-sp .links-fnouXa {
  background-color: transparent;
  height: 175px;
  left: 316px;
  position: absolute;
  top: 315px;
  width: 112px;
}

.index-sp .link-home-UPzhU8 {
  background-color: transparent;
  height: 16px;
  left: calc(50.00% - 24px);
  position: absolute;
  top: 0px;
  width: 50px;
}

.index-sp .text_label-zHqSLn {
  left: calc(50.00% - 25px);
  line-height: 16px;
  top: 0px;
  white-space: nowrap;
}

.index-sp .link-page-UPzhU8 {
  background-color: transparent;
  height: 16px;
  left: calc(50.00% - 56px);
  position: absolute;
  top: 39px;
  width: 114px;
}

.index-sp .text_label-CjMIxa {
  left: calc(50.00% - 57px);
  line-height: 16px;
  top: 0px;
  white-space: nowrap;
}

.index-sp .link-contact-UPzhU8 {
  background-color: transparent;
  height: 16px;
  left: calc(50.00% - 48px);
  position: absolute;
  top: 78px;
  width: 98px;
}

.index-sp .text_label-ucmUkp {
  left: calc(50.00% - 49px);
  line-height: 16px;
  top: 0px;
  white-space: nowrap;
}

.index-sp .link-git-UPzhU8 {
  background-color: transparent;
  height: 32px;
  left: calc(50.00% - 16px);
  position: absolute;
  top: 143px;
  width: 32px;
}

.index-sp .fixed-header-xls0kk {
  background-color: transparent;
  height: 60px;
  left: calc(50.00% - 372px);
  position: absolute;
  top: 0px;
  width: 744px;
}

.index-sp .anim-fade-in-up {
  background-color: transparent;
  position: absolute;
}

.index-sp .bg {
  position: absolute;
  top: 0px;
}
@media screen and (max-width: 1919px) {
  .screen.index { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.index-sp { 
    display: none;
   }
}