/* screen - index */

.index {
  background-color: var(--white);
  height: 3409px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.index .pc-wrap-IO3Fu5 {
  background-color: transparent;
  height: 3409px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1920px;
}

.index .relative-id_mainvisual_firstview-6tYPLb {
  background-color: transparent;
  height: 800px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.index .mv-pc-bg-r6pznu {
  background-color: transparent;
  height: 800px;
  left: calc(50.00% - 960px);
  position: absolute;
  top: 0px;
  width: 1920px;
}

.index .anim-bounce-in-r6pznu {
  background-color: transparent;
  height: 260px;
  left: 781px;
  position: absolute;
  top: 96px;
  width: 364px;
}

.index .anim-bounce-in-up-01-r6pznu {
  background-color: transparent;
  height: 190px;
  left: 516px;
  position: absolute;
  top: 371px;
  width: 888px;
}

.index .h1-seo-title-topcatch-nxEVIo {
  background-color: transparent;
  height: 190px;
  left: calc(50.00% - 445px);
  position: absolute;
  top: 0px;
  width: 889px;
}

.index .anim-bounce-in-up-02-r6pznu {
  background-color: transparent;
  height: 97px;
  left: 638px;
  position: absolute;
  top: 586px;
  width: 652px;
}

.index .p-seo-subtitle-pc-mv-QExSsz {
  background-color: transparent;
  height: 98px;
  left: calc(50.00% - 326px);
  position: absolute;
  top: 0px;
  width: 653px;
}

.index .relative-id_service_-6tYPLb {
  background-color: transparent;
  height: 540px;
  left: calc(50.00% - 960px);
  position: absolute;
  top: 800px;
  width: 1920px;
}

.index .service-pc-bg-hxADpO {
  background-color: var(--white);
  height: 540px;
  left: calc(50.00% - 960px);
  position: absolute;
  top: 0px;
  width: 1920px;
}

.index .anim-fade-in-01-hxADpO {
  background-color: transparent;
  height: 73px;
  left: 774px;
  position: absolute;
  top: 61px;
  width: 371px;
}

.index .h1-txt-Zd4T95 {
  background-color: transparent;
  height: 73px;
  left: calc(50.00% - 186px);
  position: relative;
  top: 0px;
  width: 373px;
}

.index .leancording-ioFqxq {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 186px);
  line-height: 73px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.index .span0-pPRoV2 {
  letter-spacing: 0.00px;
}

.index .span1-pPRoV2 {
  letter-spacing: -4.76px;
}

.index .span2-pPRoV2 {
  letter-spacing: 0.00px;
}

.index .p-txt-hxADpO {
  background-color: transparent;
  height: 355px;
  left: 681px;
  position: absolute;
  top: 142px;
  width: 556px;
}

.index .anim-jack-in-the-box-order-wcNwYj {
  background-color: transparent;
  height: 95px;
  left: 13px;
  position: absolute;
  top: 0px;
  width: 533px;
}

.index .order-1-NpzKgl {
  background-color: transparent;
  height: 93px;
  left: calc(50.00% - 266px);
  position: absolute;
  top: 0px;
  width: 95px;
}

.index .image-3-K9jMUY {
  background-color: transparent;
  height: 93px;
  left: calc(50.00% - 48px);
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 95px;
}

.index .order-2-NpzKgl {
  background-color: transparent;
  height: 93px;
  left: calc(50.00% - 152px);
  position: absolute;
  top: 0px;
  width: 95px;
}

.index .image-4-G2xykh {
  background-color: transparent;
  height: 93px;
  left: calc(50.00% - 48px);
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 95px;
}

.index .order-3-NpzKgl {
  background-color: transparent;
  height: 93px;
  left: calc(50.00% - 38px);
  position: absolute;
  top: 0px;
  width: 76px;
}

.index .image-5-y2Av8E {
  background-color: transparent;
  height: 93px;
  left: calc(50.00% - 38px);
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 76px;
}

.index .order-4-NpzKgl {
  background-color: transparent;
  height: 93px;
  left: calc(50.00% + 56px);
  position: absolute;
  top: 0px;
  width: 95px;
}

.index .image-6-4OsxXp {
  background-color: transparent;
  height: 93px;
  left: calc(50.00% - 48px);
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 95px;
}

.index .order-5-NpzKgl {
  background-color: transparent;
  height: 95px;
  left: calc(50.00% + 170px);
  position: absolute;
  top: 0px;
  width: 96px;
}

.index .image-8-Yx3FmI {
  background-color: transparent;
  height: 95px;
  left: calc(50.00% - 48px);
  position: absolute;
  top: 0px;
  width: 96px;
}

.index .anim-fade-in-02-wcNwYj {
  background-color: transparent;
  height: 73px;
  left: calc(50.00% - 278px);
  position: absolute;
  top: 93px;
  width: 558px;
}

.index .aipsdpdfxd-figma-p90xxF {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 279px);
  letter-spacing: 0.00px;
  line-height: 73px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.index .anim-fade-in-down-wcNwYj {
  background-color: transparent;
  height: 59px;
  left: calc(50.00% - 25px);
  position: absolute;
  top: 176px;
  width: 52px;
}

.index .anim-fade-in-03-wcNwYj {
  background-color: transparent;
  height: 73px;
  left: calc(50.00% - 230px);
  position: absolute;
  top: 245px;
  width: 462px;
}

.index .web-ynycDk {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 231px);
  letter-spacing: 0.00px;
  line-height: 73px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.index .anim-fade-in-04-wcNwYj {
  background-color: transparent;
  height: 73px;
  left: calc(50.00% - 72px);
  position: absolute;
  top: 282px;
  width: 146px;
}

.index .text_label-yOla1Y {
  left: calc(50.00% - 73px);
  line-height: 73px;
  top: 0px;
  white-space: nowrap;
}

.index .relative-id_frow_-6tYPLb {
  background-color: transparent;
  height: 990px;
  left: 0px;
  position: absolute;
  top: 1335px;
  width: 1920px;
}

.index .frow-pc-bg-oPeiv1 {
  background-color: transparent;
  height: 990px;
  left: calc(50.00% - 960px);
  position: absolute;
  top: 0px;
  width: 1920px;
}

.index .anim-fade-in-up-oPeiv1 {
  left: 544px;
  top: 105px;
  width: 832px;
}

.index .h1-seo-frowtitle-pc-8OcxHj {
  background-color: transparent;
  height: 76px;
  left: calc(50.00% - 416px);
  position: absolute;
  top: 0px;
  width: 832px;
}

.index .anim-flip-in-y-oPeiv1 {
  background-color: transparent;
  height: 293px;
  left: calc(50.00% - 484px);
  position: absolute;
  top: 224px;
  width: 969px;
}

.index .roundbg-frow-OxCter {
  background-color: #ffffffe6;
  border-radius: 146.5px;
  height: 293px;
  left: calc(50.00% - 484px);
  position: relative;
  top: 0px;
  width: 969px;
}

.index .anim-wipe-in-right-001-oPeiv1 {
  background-color: transparent;
  height: 241px;
  left: 622px;
  position: absolute;
  top: 250px;
  width: 676px;
}

.index .p-seo-flowspeed-pc-c9OxpK {
  background-color: transparent;
  height: 241px;
  left: calc(50.00% - 338px);
  position: absolute;
  top: 0px;
  width: 676px;
}

.index .anim-wipe-out-right-002-oPeiv1 {
  background-color: transparent;
  height: 210px;
  left: 527px;
  position: absolute;
  top: 263px;
  width: 865px;
}

.index .p-seo-flowold-pc-hLx9yB {
  background-color: transparent;
  height: 210px;
  left: calc(50.00% - 432px);
  position: absolute;
  top: 0px;
  width: 865px;
}

.index .anim-fade-in-oPeiv1 {
  height: 38px;
  left: 700px;
  top: 576px;
  width: 520px;
}

.index .h2-seo-lean-pc-KlNJJ4 {
  background-color: transparent;
  height: 38px;
  left: calc(50.00% - 260px);
  position: absolute;
  top: 0px;
  width: 520px;
}

.index .anim-fade-in-zANcSy {
  height: 227px;
  left: 510px;
  top: 636px;
  width: 901px;
}

.index .p-txt-qenxoH {
  background-color: transparent;
  height: 227px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 901px;
}

.index .desc-lean-pc-yrn0Dn {
  background-color: transparent;
  height: 227px;
  left: calc(50.00% - 450px);
  position: absolute;
  top: 0px;
  width: 901px;
}

.index .relative-id_design_-6tYPLb {
  background-color: transparent;
  height: 700px;
  left: calc(50.00% - 960px);
  position: absolute;
  top: 2325px;
  width: 1920px;
}

.index .design-pc-bg-HM2EpS {
  background-color: transparent;
  height: 700px;
  left: calc(50.00% - 960px);
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.index .anim-fade-in-up-HM2EpS {
  left: 718px;
  top: 92px;
  width: 484px;
}

.index .h1-seo-design-pc-YhKwaZ {
  background-color: transparent;
  height: 89px;
  left: calc(50.00% - 242px);
  position: absolute;
  top: 0px;
  width: 484px;
}

.index .anim-flip-in-y-01-HM2EpS {
  background-color: transparent;
  height: 165px;
  left: 537px;
  position: absolute;
  top: 235px;
  width: 413px;
}

.index .p-txt-g5UTxP {
  background-color: transparent;
  height: 165px;
  left: calc(50.00% - 206px);
  position: relative;
  top: 0px;
  width: 419px;
}

.index .rectangle-4-Dw3qZ3 {
  background-color: var(--white);
  box-shadow: 0px 4px 4px #00000040;
  height: 165px;
  left: calc(50.00% - 210px);
  position: absolute;
  top: 0px;
  width: 413px;
}

.index .text_label-Dw3qZ3 {
  -webkit-text-stroke: 0.10000000149011612px var(--black);
  left: calc(50.00% - 101px);
  line-height: 40px;
  top: 17px;
  white-space: nowrap;
}

.index .pc-pc-Dw3qZ3 {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 146px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 62px;
  width: auto;
}

.index .x320px-Dw3qZ3 {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 110px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 127px;
  white-space: nowrap;
  width: auto;
}

.index .anim-flip-in-y-02-HM2EpS {
  background-color: transparent;
  height: 165px;
  left: calc(50.00% + 11px);
  position: absolute;
  top: 235px;
  width: 419px;
}

.index .rectangle-5-i17R5F {
  background-color: var(--white);
  box-shadow: 0px 4px 4px #00000040;
  height: 165px;
  left: calc(50.00% - 210px);
  position: absolute;
  top: 0px;
  width: 413px;
}

.index .link-0004-i17R5F {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 100px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 122px;
  white-space: nowrap;
  width: auto;
}

.index .text_label-i17R5F {
  left: calc(50.00% - 164px);
  line-height: 20px;
  top: 73px;
}

.index .text_label-GNcxz2 {
  -webkit-text-stroke: 0.10000000149011612px var(--black);
  left: calc(50.00% - 111px);
  line-height: 40px;
  top: 27px;
  white-space: nowrap;
}

.index .anim-flip-in-y-03-HM2EpS {
  background-color: transparent;
  height: 165px;
  left: calc(50.00% - 423px);
  position: absolute;
  top: 426px;
  width: 417px;
}

.index .rectangle-6-Hrzxmu {
  background-color: var(--white);
  box-shadow: 0px 4px 4px #00000040;
  height: 165px;
  left: calc(50.00% - 208px);
  position: absolute;
  top: 0px;
  width: 413px;
}

.index .text_label-Hrzxmu {
  left: calc(50.00% - 128px);
  line-height: 20px;
  top: 73px;
}

.index .text_label-oMfZDK {
  -webkit-text-stroke: 0.10000000149011612px var(--black);
  left: calc(50.00% - 136px);
  line-height: 40px;
  top: 27px;
  white-space: nowrap;
}

.index .anim-flip-in-y-04-HM2EpS {
  background-color: transparent;
  height: 165px;
  left: 971px;
  position: absolute;
  top: 426px;
  width: 413px;
}

.index .p-txt-eynw8I {
  background-color: transparent;
  height: 165px;
  left: calc(50.00% - 206px);
  position: relative;
  top: 0px;
  width: 417px;
}

.index .rectangle-7-PmPjkq {
  background-color: var(--white);
  box-shadow: 0px 4px 4px #00000040;
  height: 165px;
  left: calc(50.00% - 208px);
  position: absolute;
  top: 0px;
  width: 413px;
}

.index .adobe-xd-figma-web-PmPjkq {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 164px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 67px;
  width: auto;
}

.index .text_label-PmPjkq {
  -webkit-text-stroke: 0.10000000149011612px var(--black);
  left: calc(50.00% - 110px);
  line-height: 40px;
  top: 27px;
  white-space: nowrap;
}

.index .relative-id_form_-6tYPLb {
  background-color: transparent;
  height: 264px;
  left: 0px;
  position: absolute;
  top: 3025px;
  width: 1920px;
}

.index .footer-pc-bg-cURYss {
  background-color: transparent;
  height: 264px;
  left: calc(50.00% - 960px);
  position: absolute;
  top: 0px;
  width: 1920px;
}

.index .anim-fade-in-up-02-z-index-1-cURYss {
  background-color: transparent;
  height: 70px;
  left: 649px;
  position: absolute;
  top: 96px;
  width: 622px;
}

.index .h2-txt-z-index-1-Mv97f5 {
  background-color: transparent;
  height: 70px;
  left: calc(50.00% - 311px);
  position: absolute;
  top: 0px;
  width: 622px;
}

.index .relative-id_footer_-6tYPLb {
  background-color: transparent;
  height: 120px;
  left: calc(50.00% - 960px);
  position: absolute;
  top: 3289px;
  width: 1924px;
}

.index .bg-QVR4sh {
  background-color: var(--white);
  height: 120px;
  left: calc(50.00% - 962px);
  position: absolute;
  top: 0px;
  width: 1920px;
}

.index .leancoding-by-leansystem-QVR4sh {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 545px);
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 40px;
  width: 313px;
}

.index .span0-NN5rBJ {
}

.index .span1-NN5rBJ {
}

.index .copyright-leansystem-all-rights-reserved-QVR4sh {
  background-color: transparent;
  height: auto;
  left: calc(50.00% + 264px);
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 48px;
  width: auto;
}

.index .anim-fade-in {
  background-color: transparent;
  position: absolute;
}

.index .anim-fade-in-up {
  background-color: transparent;
  height: 73px;
  position: absolute;
}
/* screen - index-sp */

.index-sp {
  background-color: var(--white);
  height: 4894px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 744px;
}

.index-sp .sp-wrap-xls0kk {
  background-color: transparent;
  height: 4894px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 745px;
}

.index-sp .relative-id_mainvisual_firstview-e92lAv {
  background-color: transparent;
  height: 780px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 744px;
}

.index-sp .mv-sp-bg-CVQIak {
  background-color: transparent;
  height: 780px;
  left: calc(50.00% - 372px);
  position: absolute;
  top: 0px;
  width: 744px;
}

.index-sp .anim-bounce-in-CVQIak {
  background-color: transparent;
  height: 195px;
  left: 236px;
  position: absolute;
  top: 127px;
  width: 272px;
}

.index-sp .anim-bounce-in-up-01-CVQIak {
  background-color: transparent;
  height: 128px;
  left: 205px;
  position: absolute;
  top: 352px;
  width: 334px;
}

.index-sp .h1-seo-title-mvsp-IYbIrc {
  background-color: transparent;
  height: 128px;
  left: calc(50.00% - 168px);
  position: absolute;
  top: 0px;
  width: 335px;
}

.index-sp .anim-bounce-in-up-02-CVQIak {
  background-color: transparent;
  height: 132px;
  left: 234px;
  position: absolute;
  top: 514px;
  width: 275px;
}

.index-sp .p-seo-subtitle-mvsp-QF7EAF {
  background-color: transparent;
  height: 133px;
  left: calc(50.00% - 138px);
  position: absolute;
  top: 0px;
  width: 277px;
}

.index-sp .relative-id_service_-e92lAv {
  background-color: transparent;
  height: 832px;
  left: calc(50.00% - 372px);
  position: absolute;
  top: 780px;
  width: 744px;
}

.index-sp .service-sp-bg-poJhE4 {
  background-color: transparent;
  height: 832px;
  left: calc(50.00% - 372px);
  position: absolute;
  top: 0px;
  width: 743px;
}

.index-sp .anim-fade-in-01-poJhE4 {
  background-color: transparent;
  height: 53px;
  left: 210px;
  position: absolute;
  top: 88px;
  width: 351px;
}

.index-sp .h1-txt-hRxUxn {
  background-color: transparent;
  height: 53px;
  left: calc(50.00% - 176px);
  position: relative;
  top: 0px;
  width: 353px;
}

.index-sp .leancording-UHIsHZ {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 176px);
  line-height: 53px;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.index-sp .span0-BxeHe3 {
  letter-spacing: 0.00px;
}

.index-sp .span1-BxeHe3 {
  letter-spacing: -2.56px;
}

.index-sp .span2-BxeHe3 {
  letter-spacing: 0.00px;
}

.index-sp .p-txt-poJhE4 {
  background-color: transparent;
  height: 544px;
  left: 220px;
  position: absolute;
  top: 180px;
  width: 304px;
}

.index-sp .anim-jack-in-the-box-order-TD23oe {
  background-color: transparent;
  height: 205px;
  left: calc(50.00% - 152px);
  position: absolute;
  top: 0px;
  width: 304px;
}

.index-sp .image-3-lueJWx {
  background-color: transparent;
  height: 93px;
  left: calc(50.00% - 105px);
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 95px;
}

.index-sp .image-8-lueJWx {
  background-color: transparent;
  height: 95px;
  left: calc(50.00% + 9px);
  position: absolute;
  top: 0px;
  width: 96px;
}

.index-sp .image-4-lueJWx {
  background-color: transparent;
  height: 93px;
  left: calc(50.00% - 152px);
  object-fit: cover;
  position: absolute;
  top: 112px;
  width: 95px;
}

.index-sp .image-5-lueJWx {
  background-color: transparent;
  height: 93px;
  left: calc(50.00% - 38px);
  object-fit: cover;
  position: absolute;
  top: 112px;
  width: 76px;
}

.index-sp .image-6-lueJWx {
  background-color: transparent;
  height: 93px;
  left: calc(50.00% + 57px);
  object-fit: cover;
  position: absolute;
  top: 112px;
  width: 95px;
}

.index-sp .anim-fade-in-02-TD23oe {
  background-color: transparent;
  height: 80px;
  left: calc(50.00% - 152px);
  position: absolute;
  top: 223px;
  width: 305px;
}

.index-sp .aipsdpdfxd-figma-TJ59Hi {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 152px);
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: auto;
}

.index-sp .span0-nx1xHk {
  letter-spacing: 0.00px;
  line-height: 39px;
}

.index-sp .span1-nx1xHk {
  letter-spacing: -5.04px;
  line-height: 39px;
}

.index-sp .span2-nx1xHk {
  letter-spacing: -4.32px;
  line-height: 39px;
}

.index-sp .span3-nx1xHk {
  letter-spacing: 0.00px;
  line-height: 39px;
}

.index-sp .span4-nx1xHk {
  letter-spacing: -3.84px;
  line-height: 39px;
}

.index-sp .span5-nx1xHk {
  letter-spacing: 0.00px;
  line-height: 39px;
}

.index-sp .span6-nx1xHk {
  letter-spacing: -5.04px;
  line-height: 39px;
}

.index-sp .span7-nx1xHk {
  letter-spacing: -4.80px;
  line-height: 39px;
}

.index-sp .span8-nx1xHk {
  letter-spacing: 0.00px;
  line-height: 39px;
}

.index-sp .span9-nx1xHk {
  letter-spacing: -5.28px;
  line-height: 39px;
}

.index-sp .span10-nx1xHk {
  letter-spacing: 0.00px;
  line-height: 39px;
}

.index-sp .span11-nx1xHk {
  letter-spacing: 0.00px;
  line-height: 40px;
}

.index-sp .anim-fade-in-down-TD23oe {
  background-color: transparent;
  height: 59px;
  left: calc(50.00% - 26px);
  position: absolute;
  top: 322px;
  width: 52px;
}

.index-sp .anim-fade-in-03-TD23oe {
  background-color: transparent;
  height: 80px;
  left: calc(50.00% - 121px);
  position: absolute;
  top: 398px;
  width: 242px;
}

.index-sp .web-G3MCbn {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 121px);
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: auto;
}

.index-sp .anim-fade-in-04-TD23oe {
  background-color: transparent;
  height: 73px;
  left: calc(50.00% - 73px);
  position: absolute;
  top: 471px;
  width: 146px;
}

.index-sp .text_label-prylCM {
  left: calc(50.00% - 73px);
  line-height: 73px;
  top: 0px;
  white-space: nowrap;
}

.index-sp .relative-id_frow_-e92lAv {
  background-color: transparent;
  height: 1977px;
  left: 0px;
  position: absolute;
  top: 1615px;
  width: 744px;
}

.index-sp .frow-sp-bg-1S3isx {
  background-color: transparent;
  height: 1977px;
  left: calc(50.00% - 372px);
  position: absolute;
  top: 0px;
  width: 744px;
}

.index-sp .anim-fade-in-up-1S3isx {
  height: 100px;
  left: 236px;
  top: 102px;
  width: 272px;
}

.index-sp .h1-seo-flowtitle-sp-sIovYs {
  background-color: transparent;
  height: 100px;
  left: calc(50.00% - 138px);
  position: absolute;
  top: 0px;
  width: 274px;
}

.index-sp .anim-flip-in-x-1S3isx {
  background-color: transparent;
  height: 940px;
  left: calc(50.00% - 136px);
  position: absolute;
  top: 232px;
  width: 277px;
}

.index-sp .roundbg-frow-sOCS8T {
  background-color: #ffffffe6;
  border-radius: 146.5px;
  height: 940px;
  left: calc(50.00% - 138px);
  position: relative;
  top: 0px;
  width: 277px;
}

.index-sp .anim-wipe-in-down-1S3isx {
  background-color: transparent;
  height: 806px;
  left: 282px;
  position: absolute;
  top: 305px;
  width: 198px;
}

.index-sp .p-seo-flowspeed-sp-bikCvw {
  background-color: transparent;
  height: 806px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 198px;
}

.index-sp .anim-fade-in-up-dQAB2x {
  height: 114px;
  left: 268px;
  top: 1228px;
  width: 208px;
}

.index-sp .h2-seo-lean-sp-kNsBm7 {
  background-color: transparent;
  height: 114px;
  left: calc(50.00% - 104px);
  position: absolute;
  top: 0px;
  width: 208px;
}

.index-sp .anim-fade-in-up-XJocl3 {
  height: 613px;
  left: 216px;
  top: 1364px;
  width: 321px;
}

.index-sp .p-txt-0008-RuMPq0 {
  background-color: transparent;
  height: 613px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 321px;
}

.index-sp .desc-lean-sp-lt1Cvd {
  background-color: transparent;
  height: 613px;
  left: calc(50.00% - 160px);
  position: absolute;
  top: 0px;
  width: 321px;
}

.index-sp .relative-id_design_-e92lAv {
  background-color: transparent;
  height: 919px;
  left: 0px;
  position: absolute;
  top: 3592px;
  width: 744px;
}

.index-sp .design-sp-bg-IAtsJ8 {
  background-color: transparent;
  height: 919px;
  left: calc(50.00% - 372px);
  position: absolute;
  top: 0px;
  width: 744px;
}

.index-sp .anim-fade-in-up-IAtsJ8 {
  height: 64px;
  left: 247px;
  top: 51px;
  width: 257px;
}

.index-sp .h1-seo-design-sp-Tjqqdx {
  background-color: transparent;
  height: 64px;
  left: calc(50.00% - 131px);
  position: absolute;
  top: 0px;
  width: 259px;
}

.index-sp .anim-flip-in-y-01-IAtsJ8 {
  background-color: transparent;
  height: 165px;
  left: 165px;
  position: absolute;
  top: 144px;
  width: 413px;
}

.index-sp .p-txt-sN2ItE {
  background-color: transparent;
  height: 165px;
  left: calc(50.00% - 206px);
  position: relative;
  top: 0px;
  width: 419px;
}

.index-sp .rectangle-4-PgWB8s {
  background-color: var(--white);
  box-shadow: 0px 4px 4px #00000040;
  height: 165px;
  left: calc(50.00% - 210px);
  position: absolute;
  top: 0px;
  width: 413px;
}

.index-sp .text_label-PgWB8s {
  -webkit-text-stroke: 0.10000000149011612px var(--black);
  left: calc(50.00% - 113px);
  line-height: 40px;
  top: 18px;
  white-space: nowrap;
}

.index-sp .pc-pc-PgWB8s {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 158px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 61px;
  width: auto;
}

.index-sp .x320px-PgWB8s {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 122px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 127px;
  white-space: nowrap;
  width: auto;
}

.index-sp .anim-flip-in-y-02-IAtsJ8 {
  background-color: transparent;
  height: 165px;
  left: 165px;
  position: absolute;
  top: 323px;
  width: 413px;
}

.index-sp .p-txt-O8TZo8 {
  background-color: transparent;
  height: 165px;
  left: calc(50.00% - 206px);
  position: relative;
  top: 0px;
  width: 419px;
}

.index-sp .rectangle-5-rIxofl {
  background-color: var(--white);
  box-shadow: 0px 4px 4px #00000040;
  height: 165px;
  left: calc(50.00% - 210px);
  position: absolute;
  top: 0px;
  width: 413px;
}

.index-sp .link-0004-rIxofl {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 100px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 118px;
  white-space: nowrap;
  width: auto;
}

.index-sp .text_label-rIxofl {
  left: calc(50.00% - 168px);
  line-height: 20px;
  top: 69px;
}

.index-sp .text_label-fE3OOH {
  -webkit-text-stroke: 0.10000000149011612px var(--black);
  left: calc(50.00% - 114px);
  line-height: 40px;
  top: 23px;
  white-space: nowrap;
}

.index-sp .anim-flip-in-y-03-IAtsJ8 {
  background-color: transparent;
  height: 165px;
  left: 165px;
  position: absolute;
  top: 502px;
  width: 413px;
}

.index-sp .p-txt-6I7Uef {
  background-color: transparent;
  height: 165px;
  left: calc(50.00% - 206px);
  position: relative;
  top: 0px;
  width: 417px;
}

.index-sp .rectangle-6-qLb60Z {
  background-color: var(--white);
  box-shadow: 0px 4px 4px #00000040;
  height: 165px;
  left: calc(50.00% - 208px);
  position: absolute;
  top: 0px;
  width: 413px;
}

.index-sp .text_label-qLb60Z {
  left: calc(50.00% - 130px);
  line-height: 20px;
  top: 76px;
}

.index-sp .text_label-HOZxny {
  -webkit-text-stroke: 0.10000000149011612px var(--black);
  left: calc(50.00% - 137px);
  line-height: 40px;
  top: 30px;
  white-space: nowrap;
}

.index-sp .anim-flip-in-y-04-IAtsJ8 {
  background-color: transparent;
  height: 165px;
  left: 165px;
  position: absolute;
  top: 681px;
  width: 413px;
}

.index-sp .p-txt-h6jodi {
  background-color: transparent;
  height: 165px;
  left: calc(50.00% - 206px);
  position: relative;
  top: 0px;
  width: 417px;
}

.index-sp .rectangle-7-q8cJCI {
  background-color: var(--white);
  box-shadow: 0px 4px 4px #00000040;
  height: 165px;
  left: calc(50.00% - 208px);
  position: absolute;
  top: 0px;
  width: 413px;
}

.index-sp .adobe-xd-figma-web-q8cJCI {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 164px);
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 73px;
  width: auto;
}

.index-sp .text_label-q8cJCI {
  -webkit-text-stroke: 0.10000000149011612px var(--black);
  left: calc(50.00% - 114px);
  line-height: 40px;
  top: 33px;
  white-space: nowrap;
}

.index-sp .relative-id_form_-e92lAv {
  background-color: transparent;
  height: 263px;
  left: 0px;
  position: absolute;
  top: 4511px;
  width: 744px;
}

.index-sp .footer-sp-bg-Paxkqx {
  background-color: transparent;
  height: 263px;
  left: calc(50.00% - 372px);
  position: absolute;
  top: 0px;
  width: 744px;
}

.index-sp .anim-fade-in-up-02-z-index1-Paxkqx {
  background-color: transparent;
  height: 114px;
  left: 142px;
  position: absolute;
  top: 75px;
  width: 460px;
}

.index-sp .h2-txt-z-index1-PThq5L {
  background-color: transparent;
  height: 114px;
  left: calc(50.00% - 230px);
  position: absolute;
  top: 0px;
  width: 460px;
}

.index-sp .relative-id_footer_-e92lAv {
  background-color: transparent;
  height: 120px;
  left: calc(50.00% - 372px);
  position: absolute;
  top: 4774px;
  width: 748px;
}

.index-sp .bg-xXZCnG {
  background-color: var(--white);
  height: 120px;
  left: calc(50.00% - 374px);
  position: absolute;
  top: 0px;
  width: 744px;
}

.index-sp .leancoding-by-leansystem-xXZCnG {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 147px);
  letter-spacing: 1.20px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 30px;
  width: auto;
}

.index-sp .span0-XXgtqE {
}

.index-sp .span1-XXgtqE {
  letter-spacing: 0.70px;
}

.index-sp .copyright-leansystem-all-rights-reserved-xXZCnG {
  background-color: transparent;
  height: auto;
  left: calc(50.00% - 161px);
  letter-spacing: 0.70px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 70px;
  width: auto;
}

.index-sp .anim-fade-in-up {
  background-color: transparent;
  position: absolute;
}
@media screen and (max-width: 1919px) {
  .screen.index { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.index-sp { 
    display: none;
   }
}