:root { 
  --black: #000000;
  --blue-ribbon: #006aea;
  --humming-bird: #ccedf5;
  --sizzling-sunrise: #ffda00;
  --white: #ffffff;
  --white-2: #ffffff03;
 
  --font-size-l: 16px;
  --font-size-m: 14px;
  --font-size-s: 10px;
  --font-size-xl: 20.3px;
  --font-size-xs: 4.6px;
  --font-size-xxl: 24px;
  --font-size-xxxl: 44px;
 
  --font-family-kiwi_maru: "Kiwi Maru", Helvetica;
  --font-family-noto_sans_jp: "Noto Sans JP", Helvetica;
  --font-family-train_one: "Train One", Helvetica;
}
.kiwimaru-normal-black-44px {
  color: var(--black);
  font-family: var(--font-family-kiwi_maru);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.kiwimaru-normal-black-20-3px {
  color: var(--black);
  font-family: var(--font-family-kiwi_maru);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.kiwimaru-normal-black-24px {
  color: var(--black);
  font-family: var(--font-family-kiwi_maru);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.notosansjp-normal-black-14px {
  color: var(--black);
  font-family: var(--font-family-noto_sans_jp);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.kiwimaru-normal-black-10px {
  color: var(--black);
  font-family: var(--font-family-kiwi_maru);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.kiwimaru-normal-black-4-6px {
  color: var(--black);
  font-family: var(--font-family-kiwi_maru);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.kiwimaru-medium-black-24px {
  color: var(--black);
  font-family: var(--font-family-kiwi_maru);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.kiwimaru-normal-black-16px {
  color: var(--black);
  font-family: var(--font-family-kiwi_maru);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.kiwimaru-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-kiwi_maru);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.kiwimaru-normal-blue-ribbon-34px {
  color: var(--blue-ribbon);
  font-family: var(--font-family-kiwi_maru);
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
}

.notosansjp-black-blue-ribbon-24px {
  color: var(--blue-ribbon);
  font-family: var(--font-family-noto_sans_jp);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 900;
}

.notosansjp-normal-blue-ribbon-14px {
  color: var(--blue-ribbon);
  font-family: var(--font-family-noto_sans_jp);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.kiwimaru-normal-blue-ribbon-32px {
  color: var(--blue-ribbon);
  font-family: var(--font-family-kiwi_maru);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
}

.notosansjp-normal-black-12px {
  color: var(--black);
  font-family: var(--font-family-noto_sans_jp);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

:root {
}
